<fieldset>
	<legend><span class="oswald" style="padding: 0 9px 0 7px;">1</span> Package</legend>
	
	<div class="row">	
		<div class="span12 content">
			<label class="radio package-name">
				<input style="font-size: 1.2em;" name="package" type="radio" id="account-extension" value="Account Extension" data-price='30' checked="checked" /> &nbsp;<span style="font-size: 1.8em;" class="oswald">90 Day Account Extension $30</span>
			</label>
			<p>
			<ul class="package-features">
				<li>After completing purchase you will find your new expiration date on your profile page.</li>
			</ul>
			</p>
		</div>
	</div>
	
</fieldset>