<fieldset>
	<legend><span class="oswald" style="padding: 0 9px 0 7px;">1</span> Package</legend>
	
	<div class="row">	
		<div class="span12 content">
			<label class="radio package-name">
				<input style="font-size: 1.2em;" name="package" type="radio" id="ncmhce-hard-copy" value="NCMHCE Hard Copy" data-price='40.65' checked="checked" /> &nbsp;<span style="font-size: 1.8em;" class="oswald">NCMHCE Study Supplement Hard Copy $40.65</span>
			</label>
			<p>
			<ul class="package-features">
				<li>Same study supplement as the eBook</li>
			</ul>
			</p>
		</div>
	</div>
	
</fieldset>