<fieldset>
	<legend><span class="oswald" style="padding: 0 9px 0 7px;">1</span> Package</legend>
	
	<div class="row">	
		<div class="span6 content">
			<label class="radio package-name">
				<p>
					<input style="font-size: 1.2em;" name="package" type="radio" id="ncmhce-exam-scenarios" value="NCMHCE Exam Scenarios" data-price='70' checked="checked" /> &nbsp;<span style="font-size: 1.8em;" class="oswald">10 NCMHCE Exam Scenarios $70</span>
					<ul class="package-features">
						
						<li>Exam Scenarios provide practice using the exam format.</li>
						<li>Online exams will be available from your profile page after purchase.</li>
					</ul>
				</p>
			</label>
		</div>
	</div>

	<% if locals[:user] %>
		<input type="hidden" name="user_id" id="user_id" value="<%= locals[:user].id %>" />
	<% end %>
	
</fieldset>

