<fieldset>
	<legend><span class="oswald" style="padding: 0 9px 0 7px;">1</span>  NCMHCE Online Scenarios Upgrade</legend>
	
	<div class="row">	
		<div class="span12 content">
			<label class="radio package-name">
				<input style="font-size: 1.2em;" name="package" type="radio" id="ncmhce-upgrade" value="NCMHCE Upgrade" data-price='95' checked="checked" /> &nbsp;<span style="font-size: 1.8em;" class="oswald">12 Additional NCMHCE Online Scenarios $95</span>
			</label>
			<p>
				<ul class="package-features">
					<li>Online scenarios will be available from your profile page after purchase.</li>
				</ul>
			</p>
		</div>
	</div>
	
</fieldset>