<fieldset>
	<legend><span class="oswald" style="padding: 0 9px 0 7px;">1</span> Package</legend>
	
	<div class="row">	
		<div class="span12 content">
			<label class="radio package-name">
				<input style="font-size: 1.2em;" name="package" type="radio" id="second-chance-upgrade" value="Second Chance Upgrade" data-price='154' checked="checked" /> &nbsp;<span style="font-size: 1.8em;" class="oswald">NCMHCE Second Chance Upgrade $154</span>
			</label>
			<p>
				<ul class="package-features">
					<li><strong>All 36 Tutorial Scenarios</strong></li>
					<li><strong>All 10 Exam Scenarios</strong></li>
					<li>Study Supplement eBook</li>
					<li>Consultation with Dr. Gary Arthur for up to 30 minutes</li>
					<li>Pass Guarantee</li>
					<li>Receive unlimited access to online exams for one full year</li>
				</ul>
			</p>
		</div>
	</div>
	
	<!-- <div class="hidden">
		<input type="text" style="color: #333333;" class="input-xlarge focus" id="license" name="license" <%= "value='#{locals[:user].license}' disabled" if user %> autofocus required />
	</div> -->
	
</fieldset>