<div id="#top"> </div>
	
<div class="row">
	<div class="span12 center">
		<p class="all-header">Arthur Study Programs</p>
		
		<p class="product-header blue-color">Continuing Education Units</p>
	</div>
</div>
<div class="row">
	<div class="span8 center">

			
			<a href="#product"><img src="/img/nce-group-new.png" width="90%" /></a>
			<p style="font-size: 1.2em; font-weight: 300; line-height: 1.4em">Qualify for one CEU credit per scenario.<br />No waiting for certificate to be mailed - download immediately.</p>

		</div>
	<div class="span4">
		<div class="well center">
			<center><a href="#product"><img src="/img/ceu-badge-solid.png" style="padding: 0.8em;" /></a></center>
			<a class="btn btn-primary btn-large btn-block" href="#pricing" style="font-weight: bold; margin: 18px 0 12px 0;">Pricing</a>
			<a class="btn btn-success btn-large btn-block" href="/checkout/ceu?package=Single%20Scenario" style="font-weight: bold;">BUY NOW!</a>
			<br />
			<h5>To order by phone call toll free</h5>
				<span style="font-size: 1.4em;">888-326-9229</span></p>
				<p>Monday - Friday, 9:00 AM - 5:00 PM EST.</p>
		</div>
	</div>

</div>

<!-- ======================= Product Info ======================= -->

<div class="row">
	<div class="span12 center">
		<div id="product" class="span12 section-div" style="clear: left;">
			<a href="#product" style="padding: 12px 60px;"><img src="/img/page-pointer.png" /></a>
		</div>
	</div>
</div>
<div class="row">	
	<div class="span12">	
		<div class="page-header">
			<h1 class="section-header">The Arthur CEU Study Program</h1>
		</div>
	</div>
	<div class="span6">
		<p>You have 30 days from the purchase date to complete your Home Study Program to qualify for XX CEU credits.</p>

		<p>You do not have to complete the entire program in one sitting. You may begin an online scenario and finish at a later date.</p>

		<p>You must receive a minimum score of 70% on each scenario to qualify for your CEU credits. If you score less than the minimum score, you may retake the scenario until you successfully reach the minimum score.</p>
	</div>
	<div class="span6">
		<p>Upon completion of all scenarios included in your CEU Home Study Program, click on the “Submit my scores to the account administrator”.  Once received, your Certificate of Completion will be emailed to you. If you prefer a printed certificate be mailed to you, please email dstorm@careertrain.com with your request making sure to include your complete mailing address and put “Request for CEU Certificate” in the subject line.</p>

		<p>Your name and number of credit hours received will be forwarded to nbcc and also be kept on file in our office for five years.</p>
	</div>
</div>

<!-- ======================= Pricing ======================= -->

<div class="row">
	<div class="span12 center">
		<div id="pricing" class="span12 section-div" style="clear: left;">
			<a href="#pricing" style="padding: 12px 60px;"><img src="/img/page-pointer.png" /></a>
		</div>
	</div>
</div>
<div class="row">	
	<div class="span12">	
		<div class="page-header">
			<h1 class="section-header">Pricing</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span4">
		<div class="price-ground">
			<p style="letter-spacing: 3px; font-size: 1.3em;">SINGLE SCENARIO</P>
			<h1 class="oswald" style="color: white;font-size: 4.5em; font-weight: 400;">$20</h1>
		</div>
		<div class="price-field">
			<ul>
				<li><strong>1 Online Scenarios</strong></li>
				<li>Qualify for one CEU credit per scenario</li>
				<li>NBCC Approved</li>
				<li>Receive unlimited access to online scenario for 30 days</li>
				<li>No waiting for certificate to be mailed - download immediately</li>
				<li><a class="btn btn-success btn-large" href="/checkout/ceu?package=Single%20Scenario" style="font-weight: bold; margin-bottom: -9px; width: 85%;">BUY NOW!</a></li>
			</ul>
		</div>
	</div>
	<div class="span4">
		<div class="well">
			<center><img src="/img/ceu-badge-solid.png" style="padding: 0.8em;" /></center>
			<hr />
			<center><p>Buy with confidence</p></center>
			<center><img src="/img/badges/comodo_secure_113x59.png" /></center>				
			<hr />
			<center><h4>To order by phone.</h4></center>
			<center><p>Call toll free <br /><span style="font-size: 1.4em;">888-326-9229</span></p></center>
			<center><p>Our business hours are <br />Monday - Friday, 9:00 AM - 5:00 PM EST.</p></center>
		</div>
	</div>
</div>

<!-- ======================= About Author ======================= -->

<div class="section-div hidden-phone" id="authors" style="clear: left; padding-top: 14px;"><a href="#authors" style="padding: 12px 60px;"><img src="/img/page-pointer.png" /></i></a></div>

<div class="page-header">
	<h1 class="section-header">About the Authors</h1>
</div>

<div class="row">
	<div class="span6">
		<h3 style="margin-bottom: 0.8em;">Gary L. Arthur <small>Ed.D., LPC, NCC, CPCS</small></h3>
		<p>
			<img src="/img/gary.gif" style="float: left; padding: 3px; border: 1px solid #efefef; margin-bottom: 1em; margin-right: 1.5em;" />
			Dr. Gary Arthur is Professor Emeritus of Professional Counseling at Georgia State University. He has taught counseling courses at the graduate level for 34+ years and he was named Counselor Educator of the Year 2007 by the Licensed Professional Counselor Association of Georgia. He has published numerous articles in referred journals, and he co-wrote this study guide for the specific purpose of preparing you for the NCMHCE licensure exam.
			<br />
			<a href="http://www.arthurnceworkshop.com/" class="btn btn-primary" style="margin-top: 24px;" target="_blank">Dr. Arthur's Workshops</a>
		</p>
	</div>
	<div class="span6">
		<h3 style="margin-bottom: 0.8em;">Joel Osler Brende <small>M.D.</small></h3>
		
		<p>
			<img src="/img/Joel_Brende.jpg" style="float: left; padding: 3px; border: 1px solid #efefef; margin-bottom: 1em; margin-right: 1.5em;" />
			Joel Osler Brende, M.D. is Professor & Chairman Emeritus, Dept of Psychiatry & Clinical Professor, Dept of Internal Medicine, Mercer University School of Medicine, Macon, GA. He is certified by The American Board of Psychiatry and Neurology and a Life Fellow of the American Psychiatric Association. He has extensive experience in medical and psychiatric education and has been actively involved in the teaching and supervision of psychotherapists, marriage and family therapy students, and resident physicians in psychiatry and internal medicine. Dr. Brende is a graduate of the University of Minnesota Medical School and received his psychiatric training at the Karl Menninger School of psychiatry.</p>
	</div>
</div>

<!-- ======================= testimonials ======================= -->

<div class="section-div" id="testimonials" style="clear: left; padding-top: 14px;"><a href="#testimonials" style="padding: 12px 60px;"><img src="/img/page-pointer.png" /></i></a></div>

<div class="page-header">
	<h1 class="section-header">Testimonials</h1>
</div>

<div class="row">

	<div class="span6">
	
		<blockquote>
			<p>
				&ldquo;Thanks!&rdquo;
			</p>
			<small>S.M.</small>
		</blockquote>
		
		<br />
	</div>
	<div class="span6">
	
		<blockquote>
			<p>
				&ldquo;Thanks even more than the last person!&rdquo;
			</p>
			<small>F.T.</small>
		</blockquote>
		
		<br />
	</div>
	<a href="#top" style="position: fixed; bottom:24px;right: 26px;"><img src="/img/top-pointer.png" /></a>
	
</div>