<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1 class="oswald" style="font-size: 2.7em; margin: 0 0 0.5em 0;">Frequently Asked Questions</h1>
		</div>
	</div>
</div>


<ul id="myTab" class="nav nav-pills">
	<li class="active"><a href="#ncmhce" data-toggle="pill">NCMHCE</a></li>
	<li><a href="#nce" data-toggle="pill">NCE</a></li>
	<li><a href="#guarantee" data-toggle="pill">GUARANTEE</a></li>
</ul>

<div id="myTabContent" class="tab-content active">

<div class="tab-pane fade" id="guarantee">
	<div class="row">
	<div class="span12">
		<hr />
	<img src="/img/pass_icon.png" width="80px" style="float: right;" />
	<h2 class="blue-color">NCMHCE Satisfaction Guarantee + Money Back Pass Guarantee</h2>
	
		<p class="lead">Pass the NCMHCE or the purchase price will be refunded (less shipping and taxes)</p>
			<p>The below policies are applicable to The Arthur-Brende Study Supplement for the NCMHCE National Clinical Mental Health Counseling Examination Online Scenario Simulator.</p>
		</div>
		<div class="span6 guarantee">
			<h3>Satisfaction Guarantee Return Policy Terms</h3>
			<p>
				The customer has 3 days from the purchase date to review the purchased <em>online services,</em> including online Scenarios and eBook, to confirm that it is what he or she expected. If the customer has purchased a hard-copy of the NCMHCE Supplement, he or she has <em>3 days from the date of delivery of the Supplement.</em> If unhappy with the content for any reason, the customer is required to notify CTC within these 3 days either by phone or e-mail that he/she is requesting a refund and will be returning the Supplement, if applicable. Further, to qualify for a refund, the customer <em>may not have accessed more than 3 online scenarios.</em> Upon proper notification, CTC will turn off access to these online services, and a refund will be issued. For those customers who have purchased the hard-copy, it is required the hard-copy Supplement be returned to CTC in good condition. Once CTC has received the hard-copy, a refund will be issued (excludes all shipping and any applicable sales tax). Note: The return expense is the responsibility of the customer.
			</p>
		</div>
		<div class="span6 guarantee">
			<h3>Money Back Pass Guarantee Policy Terms</h3>
			<p>CTC offers a money back pass guarantee for The Arthur-Brende NCMHCE Study Program. Pass the NCMHCE or CTC will refund your money (excludes shipping and any sales tax).</p>
			<ul>
				<li>The Study Supplement must be purchased at least 30 days, and not more than one year, prior to the exam date.</li>
				<li>If the exam is failed, the customer has 90 days to forward a copy of proof of failure to CTC. If the hard copy was ordered, the NCMHCE Study Supplement must be returned. Note: The return expense is the responsibility of the customer.</li>
				<li>Once CTC receives the exam scores (and Study Supplement if ordered), CTC will refund the credit card originally used via our online payment service (excludes all shipping charges and any applicable sales tax). The credit should appear 5-10 business days from the processing date.</li>
			</ul>
		</div>
		<div class="span12">
			<p>For questions about the above policies, or any aspect of the Study Supplement, please call toll free 888-326-9229.</p>
		</div>
	</div>
	<hr />
	<img src="/img/pass_icon.png" width="80px" style="float: right;" />
	<h2 class="blue-color">NCE Satisfaction Guarantee + Money Back Pass Guarantee</h2>
	
	<p class="lead">Pass the NCE or the purchase price will be refunded (less shipping and taxes)</p>

				<p>The customer has 3 days upon delivery of the Study Guide to review the material to confirm that it is what he or she expected. If unhappy with the content for any reason, the customer is required to notify CTC within 7 days of the delivery date either by phone or e-mail that he/she is returning the Study Guide.</p>
			

			<div class="row">
				<div class="span6 guarantee">
					<h3>Satisfaction Guarantee Policy Terms</h3>
					<p>
						The customer has 3 days from the purchase date to review the purchased <em>online services,</em> including online exams and eBook, to confirm that it is what he or she expected. If the customer has purchased a hard-copy of the NCE Study Guide, he or she has <em>3 days from the date of delivery of the Study Guide.</em> If unhappy with the content for any reason, the customer is required to notify CTC within these 3 days either by phone or e-mail that he/she is requesting a refund and will be returning the Study Guide, if applicable. Further, to qualify for a refund, the customer <em>may not have taken any portion of the online exam; they are allowed access for review only</em> if they wish to request a Satisfaction Guarantee refund. Upon proper notification, CTC will turn off access to these online services, and a refund will be issued. For those customers who have purchased the hard-copy, it is required the hard-copy Study Guide be returned to CTC in good condition. Once CTC has received the hard-copy, a refund will be issued (excludes all shipping and any applicable sales tax). Note: The return expense is the responsibility of the customer.
					</p>
				</div>
				<div class="span6 guarantee">
					<h3>Money Back Pass Guarantee Policy Terms</h3>
					<p>CTC offers a money back pass guarantee for the Dr. Arthur&#39;s Study Guide. Pass the NCE, or CTC will refund your money for the cost of the Study Guide (excludes shipping and any sales tax).</p>
					<ul>
						<li>The Study Guide must be purchased at least 30 days, and not more than one year, prior to the exam date.</li>
						<li>If the exam is failed, the customer has 90 days to forward a copy of proof of failure to CTC. If the hard copy was ordered, the NCE Study Guide must be returned. Note: The return expense is the responsibility of the customer.</li>
						<li>Once CTC receives the exam scores (and Study Guide if ordered), CTC will refund the credit card originally used via our online payment service (excludes all shipping charges and any applicable sales tax). The credit should appear 5-10 business days from the processing date.</li>
					</ul>
				</div>
				<div class="span12">
					<p>For questions about the above policies, or any aspect of the Study Guide, please call toll free 888-326-9229.</p>
				</div>
				
				
				
</div>
</div>

<div class="tab-pane active" id="ncmhce">
	<h2 class="blue-color">NCMHCE Questions</h2><hr />
	<div class="row">
		<div class="span6">

		<h2>Ordering Questions</h2>
		
		<h4>Can I place my order or ask questions by phone?</h4>
		<p>Absolutely! Call Career Training Concepts toll free at 888-326-9229. Our business hours are Monday - Friday, 9:00 AM - 5:00 PM EST.</p>
		
		<h4>How often is the Study Supplement updated?</h4>
		<p>The Study Supplement is constantly monitored for updating based on curriculum changes, changes to the NCMHCE, and feedback from students. When new material becomes known, it is added to the Study Supplement.</p>

		<h4>How soon will the Study Supplement hard copy arrive after I purchase it?</h4>
		<p>For those who purchase the NCMHCE using a credit card, we ship the same day if ordered before 3:00 pm EST. CTC also accepts payment by check or money order, though this can delay the shipping process. All shipments are by FedEx Ground service. Your Study Supplement will be shipped from the Atlanta, Georgia area. Expedited shipping is available for an additional charge.</p>

		<h4>Am I able to use the scenarios multiple times?</h4>
		<p>Absolutely! Once you purchase access to the online Scenario Simulator, you are free to take each scenario as many times as you like during your one year timeframe.</p>

		<h4>Can I purchase just the manual or just the online scenarios?</h4>
		<p>We do not sell the NCMHCE Study Supplement without the online scenarios. The online scenarios are meant to be used together with the Study Supplement. Dr. Arthur feels both are needed to properly prepare for the licensure exam.</p>

	</div>
	<div class="span6">
		<h2>User Questions</h2>
		
		<h4>How long can I access the online scenarios or exams?</h4>
		<p>Your login information will be good for one year from the date of your purchase.</p>
		
		<h4>May I change my password?</h4>
		<p>Yes. Once you have successfully entered your account, you may go to Profile and change your password.</p>
		

		<h4>What is considered a passing score on the scenarios?</h4>
		<p>Our scenarios do not actually provide a "Pass" or "Fail" indicator. While the Arthur-Brende Scenario Simulator is set up to emulate the NCMHCE scenarios, we are not directly affiliated with the NBCC who administers the NCMHCE. Therefore, we do not know the actual pass/fail criteria used for the NCMHCE. To our knowledge, the NBCC does not publicize this information. However, it is our understanding that the "pass" point for each scenario of the NCMHCE is set by the NBCC's examination committee, and so the exact "pass" point may vary from one exam to another, depending on the scenarios included on the exam you attempt.</p>

		<p>The NBCC's information about NCMHCE scoring can be found on page 12 of the nbcc handbook found here:  <a href="http://www.nbcc.org/assets/exam/handbooks/ncmhce.pdf" target="blank">www.nbcc.org/assets/exam/handbooks/ncmhce.pdf</a></p>

		<p>We recommend that you use the practice scenarios 1-37 to become comfortable with the exam format and to understand the types of DSM-5 related questions that are typical of the NCMHCE. To determine if you are in a good score range, take 10 scenarios and tally up the total points for all correct responses. Both your Information Gathering and Decision Making scores should fall within the 66% - 72% range. For scenarios 20-37, drop the range to 59% - 65% as they are more difficult.</p> 

		<p>Anecdotal feedback from many customers shows that the Arthur-Brende Scenarios are more difficult than the actual scenarios of the NCMHCE, so that if you do well on our scenarios, you should do well on the exam. Remember, just because your scores do not fall into the range stated above does not necessarily mean you won't pass the NCMHCE. Dr. Arthur's advice is to continue taking the scenarios - note you can take them over again as many times as you like.</p>

		<p>We do not know every customer's pass/fail history, but we do know that based on the percentage of customers who request their money back based on our Pass Guarantee, our customer's pass rate is 96%. Many customers call or write to us of their success. We'd love to hear your feedback as well!</p>

		<h4>I am unclear as to which of my answers were correct or incorrect?</h4>
		<p>Once you complete a scenario, you can get your scores by clicking on the "get your scores" link at the bottom of the page. This will take you to the answer page. At the top of the answer page, you will see your Information Gathering score and your Decision Making score.</p>

		<p>Further down the page, each question is listed with all available options shown. Each option shows a point value in parentheses in front of the question option and it is also shown in green, red, or black. The color coding is as follows:</p>

		<p>If you chose the question and it was an appropriate question to ask for that situation, the answer appears in <span style="color: #00ff00;">green</span>.</p>

		<p>If you chose the question and it was an inappropriate question to ask for that situation, the answer appears in <span style="color: red;">red</span>.</p>

		<p>If you did not choose the question, the answer appears in black.</p>

		<h4>How do I schedule my consultation with Dr. Arthur?</h4>
		<p>To schedule your phone consultation with the co-author, Dr. Gary Arthur, you may call our office on our toll free line, 888-326-9229, during our normal business hours 9-5 EDT and request to speak with Dr. Arthur. You will either be able to have your consult at that time or you may need to leave him a message requesting an appointment for your consultation. If you leave a message, please give him 2-3 times when it would be best for him to return your call in case he already has an appointment during your first or second time request. He will confirm when he will call prior to your appointment. Because we get calls from all over the United States, please make sure to let him know which time zone you are calling from so he can return your call when you will be available.</p>
		
		<h4>What do I do to get my money back for not passing?</h4>
		<p>To receive your pass guarantee refund, forward the Study Supplement along with a copy of your exam results within 90 days of receiving your score to our office: Career Training Concepts, Inc., 3640 Hewatt Court, Snellville, GA 30039. Once we receive your package, we will refund the cost of the study materials to you. If you purchased only the eBook version, simply forward your exam scores. Please make sure to include your email address and telephone number in case we have any questions upon receipt.</p>

		</div>
	</div>

</div>
<div class="tab-pane fade" id="nce">
	<h2 class="blue-color">NCE Questions</h2><hr />
	<div class="row">
	<div class="span6">

		
		
		<h4>Can I place my order or ask questions by phone?</h4>
		<p>Absolutely! Call Career Training Concepts toll free at 888-326-9229. Our business hours are Monday - Friday, 9:00 AM - 5:00 PM EST.</p>
		
		<h4>How long can I access the online scenarios or exams?</h4>
		<p>Your login information will be good for one year from the date of your purchase.</p>
		
		<h4>May I change my password?</h4>
		<p>Yes. Once you have successfully entered your account, you may go to Profile and change your password.</p>

		<h4>What are Dr. Arthur's qualifications?</h4>
		<p>Dr. Arthur received his Ed.D. degree in Counseling from Auburn University. He is a retired Professor Emeritus of Professional Counseling, having taught for over 35 years with Georgia State University. He has served as the Coordinator of the Professional Counseling Program at Georgia State University as well as the Coordinator of the Practicum/Internship Program. In addition, he has taught over 185 two-day NCE Prep seminars using his Study Guide. He was awarded Counselor Educator of the Year 2007 by the Licensed Professional Counselor Association of Georgia.</p>

		<h4>How often is the Study Guide updated?</h4>
		<p>The Study Guide is constantly monitored for updating based on curriculum changes, changes to the NCE, and feedback from students. When new material becomes known, it is added to the Study Guide.</p>

		<h4>How soon will the Study Guide arrive after I purchase it?</h4>
		<p>For those who purchase the Study Guide hard copy by credit card, we ship the same day if ordered before 3:00 pm EST. CTC also accepts payment by check or money order, though this can delay the shipping process.</p> 

		<p>All shipments are by FedEx Ground service. Your Study Guide will be shipped from the Atlanta, Georgia area. Expedited shipping is available for an additional charge.</p>
		
		<h4>What do I do to get my money back for not passing?</h4>
		<p>To receive your pass guarantee refund, forward the Study Guide along with a copy of your exam results within 90 days of receiving your score to our office: Career Training Concepts, Inc., 3640 Hewatt Court, Snellville, GA 30039. Once we receive your package, we will refund the cost of the study materials to you. If you purchased only the eBook version, simply forward your exam scores. Please make sure to include your email address and telephone number in case we have any questions upon receipt.
</p>
		
	</div>
	<div class="span6">

		<h4>What is the NCE pass rate for those who purchase the Study Guide?</h4>
		<p>We do not know every customer's pass/fail history, but we do know that based on the percentage of customers who request their money back based on our Pass Guarantee, our customer's pass rate in 2017 was 93%. Clearly those using the Dr. Arthur Study Guide to prepare perform above the national pass rate (72%) for the NCE. Many customers call or write to us of their success. We'd love to hear your <a href="/feedback">feedback</a> as well!</p> 

		<h4>Does Dr. Arthur offer live preparatory workshops as well?</h4>
		<p>Yes - Dr. Arthur has conducted over 185 two-day workshops designed to provide you with in-person instruction that will help you pass the NCE. The workshops are held a few times a year near Atlanta, Georgia. For more information or to make your reservation, visit Dr. Arthur's site at <a href="http://arthurnceworkshop.com">arthurnceworkshop.com.</a></p>

		<h4>Is Dr. Arthur's Study Guide enough, or do I need additional textbooks to study?</h4>
		<p>The answer depends on how familiar you are with the material in the Study Guide. Feedback from customers indicates that for recent graduates, the Study Guide is a sufficient resource that is both comprehensive in scope, while also concise in covering likely concepts that will be covered on the NCE.</p>

		<p>If you have been out of your program of study 5-10 years, additional material may be helpful. Just be careful not to overwhelm yourself with too much material.</p>

		<h4>What is the best way to use Dr. Arthur's Study Guide to study for the NCE?</h4>
		<p>We recommend completing the Pre-Assessment Exam in the Study Guide first to help you evaluate your strengths and weaknesses, and then, based on those results, decide what other material might be helpful. It is smart to prioritize your study time by focusing on terms, names, and ethics. Other suggestions:</p>
			<ul>
				<li>Locate a study partner.</li>
				<li>Attend a live preparatory seminar.</li>
				<li>Take one chapter to work with you.</li>
				<li>Take the Practice Examinations. They are built like the NCE. Frequently, manual purchasers provide feedback which indicates that the Pre-Assessment Examination and the Practice Examinations are more difficult than the actual NCE, so if you pass those, you should do well.</li>
			</ul>
		</p>
		<h4>How do I schedule my consultation with Dr. Arthur?</h4>
		<p>To schedule your phone consultation with the co-author, Dr. Gary Arthur, you may call our office on our toll free line, 888-326-9229, during our normal business hours 9-5 EDT and request to speak with Dr. Arthur. You will either be able to have your consult at that time or you may need to leave him a message requesting an appointment for your consultation. If you leave a message, please give him 2-3 times when it would be best for him to return your call in case he already has an appointment during your first or second time request. He will confirm when he will call prior to your appointment. Because we get calls from all over the United States, please make sure to let him know which time zone you are calling from so he can return your call when you will be available.</p>
	</div>
</div>
</div>


