<div class="container">
	
<div id="top">  </div>
	<div class="row">	
		<div class="modal hid fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header" style="color: white; background-color: #ea0422;">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h1 class="modal-title" id="infoModalLabel">Important Information about the NCE</h1>
		      </div>
		      <div class="modal-body">
						
						<p>The National Board for Certified Counselors (NBCC) has announced that the National Counselor Examination (NCE) for state board licensure has being revamped, effective March 2020.</p>
 
						<p>While the exam still assesses the 8 CACREP areas, it has been re-structured around a new content outline, with revised weighting of questions around six domains (work areas), based upon a national survey of over 16,000 certified and licensed counselors.</p>
 
						<p>The publisher of "Dr. Arthur's Study Guide for the NCE" is currently working to revise our study materials to reflect these changes, and current customers will receive notification once updated materials are available. In the meantime, current customers are encouraged to schedule a consultation with Dr. Arthur to discuss how to best study for the new version of the NCE. To initiate a consultation, please email <a href="mailto:info@careertrain.com"><strong>info@careertrain.com</strong></a>.</p>
 
						<p>More information about the changes to the NCE, along with a downloadable content outline, are available at the <a href="https://www.nbcc.org/exams/nce" target="blank"><strong>NBCC website</strong></a>.
							<br />
						</p>
					
					</div>
	
			
					<div class="modal-footer">
			        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			      </div>
			
 
				  </div>
				</div>
			</div>
		</div>
	</div>

<div class="row">	
	<div class="span12">
		
		<a href="#infoModal" role="button" class="btn btn-large" style="z-index: 1500; color: white; background-color: #ea0422;" data-toggle="modal">Important Information about the NCE &nbsp;
		
		<i class="icon-chevron-down icon-white"></i>
	</a>
		
		
		
		<div class="pull-right" style="margin-top: 3em; margin-right: 4%; margin-bottom: 1.5em;">
			<img src="/img/pass_icon.png" style="width: 100px;">
		</div>
		
		
		<div style="margin-bottom: 2em;">
			<h1 style="font-size: 2.6em; color: #063d4c;">National Counselor Examination</h1>
			<hr Style="margin: 0:" />
			<h2 style="font-weight: 300; margin-top: -0.5em;">We are proud that <strong>98%</strong> of our customers passed their exam in 2019!<sup style="font-size: 0.6em;">1</sup></h2>
		</div>
	</div>	
</div>
<div class="row">	
	<div class="span5 center">
		<img src="/img/nce-group.png" style="width: 94%;" />
	</div>
	<div class="span7">
		<p style="font-weight: 300; font-size: 1.5em; line-height: 1.4em;">This is the comprehensive study guide that has been instrumental in helping thousands of counselors pass the National Counselor Examination (NCE) used for state licensure. 
		</p>	
		<p>It will help you assess your weaknesses and strengthen what you know. <strong>Dr. Arthur&#39;s Study Guide</strong> is available in either a hard copy or eBook format, and covers all 8 CACREP content areas. The package also includes a Pre-Assessment Exam and one Practice Exam that are both online, each with 200 questions and detailed answers that give insight into the style and format of the NCE's questions. Our Enhanced Package includes two additional online exams (each 200 questions) which provides ample opportunity to gain confidence in your knowledge base. See <a id="section3Btn" style="cursor: pointer; cursor: hand;"><strong>What You Get</strong></a> and get started.</p>
		<br />
	</div>
</div>

</div>


<div style="background-color: #0572d8; height: 3.5em; margin-top: 1em;" class="hidden-phone">
	<div class="container">
		<div class="row">
			<div class="span12">
				<p class="oswald center" style="font-weight: 600; font-size: 2em; color: #ffffff; padding-top: 14px; padding-bottom: 16px; margin-top: -0.6em;">MONEY BACK PASS GUARANTEE! &nbsp;&nbsp; <img src="/img/pass_icon-left.png" style="width: 80px; margin-top: -0.3em;"> &nbsp;&nbsp; SATISFACTION GUARANTEE!</p>
			</div>
		</div>
	</div>
</div>


<div style="margin-top: 2.5em; background-colo: #d8f0e4; padding-top: 0.1em; padding-bottom: 2em;">
	<div class="container">

	<div class="row">	
		<div class="span6 features"> 
			<img src="img/check.png" class="check" /><h2 class="oswald">Study Guide Online</h2>
			<p>The heart of the program is <strong>Dr. Arthur&#39;s Study Guide for the NCE</strong>, which is a user-friendly publication designed to prepare you for the exam. The Study Guide has been updated for the DSM-5&trade; and 2016 CACREP Standards.</p>
			<img src="img/check.png" class="check" /><h2 class="oswald">Covers All 8 CACREP Areas</h2>	
			<p>The Study Guide is organized according to the 8 CACREP areas: Professional Counseling Orientation & Ethical Practice; Social and Cultural Diversity, Human Growth and Development, Career Development, Counseling and Helping Relationships, Group Counseling and Group Work, Assessment and Testing, and Research & Program Evaluation. Example questions reflect those objectives. This is significant because the NCE is developed from CACREP programs.</p>
			<img src="img/check.png" class="check" /><h2 class="oswald">Online Exams</h2>
			<p>Up to four online exams available, each with 200 questions and detailed answers. One of the online exams is a pre-assessment exam, which helps you prioritize your studying based on your results in each of the 8 CACREP areas. Our Basic Package also includes one practice exam, or purchase the Enhanced Package to access a total of three practice exams.</p>
			<img src="img/check.png" class="check" /><h2 class="oswald">Flash Card Study Module</h2>
			<p>Use these online flash cards to promote active recall. Hundreds of brief definitions to re-enforce learning and identify definitions that may require further research.</p>
		</div>
		<div class="span6 features">
			<img src="img/check.png" class="check" /><h2 class="oswald">Learn at your own pace</h2>
			<p>The online exams may be taken multiple times for up to a full year, allowing you to study at the pace that is best for you.</p>
			<img src="img/check.png" class="check" /><h2 class="oswald">Consultation</h2>
			<p>As part of either purchased package, you can schedule a personal consultation with Dr. Gary Arthur for up to 30 minutes.</p>
			<img src="img/check.png" class="check" /><h2 class="oswald">Money Back Pass Guarantee</h2>
			<p>Pass the NCE or the purchase price will be refunded to you. See <a id="section1Btn" style=" cursor: pointer; cursor: hand;"><strong>guarantee policies</strong></a> for details.</p>
			<!-- <img src="img/check.png" class="check" /><h2 class="oswald">Online Study Guide</h2>
			<p>The Study Guide is available online or eBook. You can purchase a hard copy for $40.65. Testimonials on the study guide are overwhelmingly positive. The Study Guide has been updated for the DSM-5&trade;.</p> -->
			<img src="img/check.png" class="check" /><h2 class="oswald">Success</h2>
			<p>Dr. Arthur's NCE Study Program boasts a 93% pass rate versus the national average of 72%. </p>
			<img src="img/check.png" class="check" /><h2 class="oswald">Personal Profile Page</h2>
			<p>You get a personal profile page containing status of exams you have taken, links to your online study materials, ebook downloads, your purchases, and access to more materials.</p>
		</div>
	</div>
	<div>
		<hr />
		<p class="pull-left"><small><sup>1</sup> Based on number of refunds requested due to failed exams.</small></p>
	</div>
</div>

<!-- ======================= Pricing ======================= -->


<div id="pricing" style="margin-top: -2em;">
	<p> <br /></p>
</div>

<div class="container">

<div class="row" style="margin-top: 2em;">	
	<div class="span12">	
		<div class="page-header">
			<h1 class="section-header" style="color: #063d4c;">What You Get</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="span5">
		<div class="save-white hidden-phone" style="margin-bottom: 1.5em;">
			&nbsp;
		</div>
		<div class="price-ground">
			<p style="letter-spacing: 3px; font-size: 1.3em; color: white;">BASIC PACKAGE</P>
			<h1 class="oswald" style="color: white;font-size: 3em; font-weight: 400;">$199</h1>
		</div>
		<div class="price-field">
			<ul>
				<!-- <li><strong>Study Guide eBook</strong><br />(updated for DSM-5&trade;)</li> -->
				<li>Online Pre-assessment Exam</li>
				<li><strong>1 online Practice Exam*</strong><br /><small>(may be retaken multiple times)</small></li>
				<li><span class="label label-important">NEW</span> &nbsp;Study Guide Online<br /><small>(updated for DSM-5&trade;)</small></li>
				<li><span class="label label-important">NEW</span> &nbsp;Virtual Flash Cards (over 450)</li>
				<li>Phone consultation directly with Dr. Gary Arthur for up to 30 minutes</li>
				<li>Money Back Pass Guarantee</li>
				<li>3-day Satisfaction Guarantee</li>
				<li>Online account active for one year</li>
				<!-- <li>Optional Study Guide hard copy <br />for an additional $57.45</li> -->
				<li><a class="btn btn-success btn-large" href="/checkout/nce?package=Basic%20Package" style="font-weight: bold; margin-bottom: -9px; width: 85%;">BUY NOW!</a></li>
			</ul>
			</div>
			<br />
		</div>
		<div class="span5">
			<div class="save-red oswald" style="font-weight: 600; padding-bottom: 0px;">
				<p class="oswald" style="font-size: 1.2em; color: white;">Save $20</p>
				<p style="font-size: 0.8em; color: white;">over purchasing exams separately</p>
			</div>
			<div class="price-ground">
				<p style="letter-spacing: 3px; font-size: 1.3em; color: white;">ENHANCED PACKAGE</p>
			<h1 class="oswald" style="color: white;font-size: 3em; font-weight: 400;">$239</h1>
		</div>
		<div class="price-field">
			<ul>
				<!-- <li><strong>Study Guide eBook</strong><br />(updated for DSM-5&trade;)</li> -->
				<li>Online Pre-assessment Exam</li>
				<li><strong>3 online Practice Exams</strong><br /><small>(may be retaken multiple times)</small></li>
				<li><span class="label label-important">NEW</span> &nbsp;Study Guide Online<br /><small>(updated for DSM-5&trade;)</small></li>
				<li><span class="label label-important">NEW</span> &nbsp;Virtual Flash Cards (over 450)</li>
				<li>Phone consultation directly with Dr. Gary Arthur for up to 30 minutes</li>
				<li>Money Back Pass Guarantee</li>
				<li>3-day Satisfaction Guarantee</li>
				<li>Online account active for one year</li>
				<!-- <li>Optional Study Guide hard copy <br />for an additional $57.45</li> -->
				<li><a class="btn btn-success btn-large" href="/checkout/nce?package=Enhanced%20Package" style="font-weight: bold; margin-bottom: -9px; width: 85%;">BUY NOW!</a></li>
			</ul>
		</div>
	</div>
	<div class="span2">
		<div class="save-white">
			&nbsp;
		</div>
		
		<div class="hidden-phone" style="padding: 0;">
			<!-- <center class="hidden-phone"><img src="/img/ncmhce-badge-solid.png" style="padding: 0.1em 0 0.6em 0;" /></center> -->
			<hr />
			<center><p>Buy with confidence</p></center>
			<center><img src="/img/badges/letsencryptlogo.png" style="width: 50%;" /></center>
			<hr />
			<center><h4>To order by phone.</h4></center>
			<center><p>Call toll free <br /><span style="font-size: 1.2em;">888-326-9229</span></p>
			<p><small>Business hours <br />Monday - Friday<br />9:00 AM - 5:00 PM EST.</small></p><br /></center>
		</div>
		<div class="visible-phone" style="padding: 0;">
			<center><p>Buy with confidence</p></center>
			<center><img src="/img/badges/letsencryptlogo.png" style="width: 30%;" /></center>				
			<br />
			<center><h4>To order by phone.</h4></center>
			<center><p>Call toll free <br /><span style="font-size: 1.2em;">888-326-9229</span></p>
			<p><small>OBusiness hours<br />Monday - Friday<br />9:00 AM - 5:00 PM EST.</small></p><br /></center>
		</div>
		
	</div>
</div>
<div class="row">	
	<div class="span12">	

		<p><small>* Two additional practice exams can be purchased later for $60.<br />
			** Must purchase Basic or Enhanced Package to buy Optional Hard Copy for $57.45. See Optional Enhancements on Checkout page.<br />
			If you require we ship to a PO Box please call toll free 888-326-9229 for details.</small></p>
	</div>
</div>

</div>

<div style="margin-top: 2em; background-color: #d8e6f2; padding-top: 1em; padding-bottom: 2em;">
	<div class="container">
		
		
<div class="row">	
	<div class="span12">	
		<div class="page-header">
			<h1 class="section-header" style="color: #063d4c;">Other Excellent Study Materials</h1>
		</div>
	</div>
</div>

<div class="row">	
	<div class="span6">	
		<div style="margin: 0 0 10px 0; padding: 16px 14px 16px 0">
			<img src="/img/nce-binder-small.png" width="110px" style="margin: 0 2px 14px 0; padding-right: 18px;" class="pull-left" />
			<h2 class="oswald hidden-phone" style="margin-left: 140px; margin-top: -0.2em; line-height: 1.2em;">NCE Study Guide Hard Copy</h2>
			<p style="margin-left: 140px;"><strong>Add the Study Supplement Hard Copy for only $57.45**</strong> <br />Price includes production & shipping costs. This hard copy contains the same information that is found in the online Study Guide and eBook included with both packages.</p>
		</div>
	</div>
	
	<div class="span6">	
		<div style="padding: 16px 0">
			<img src="/img/mac-screen-scen.png" width="160px;" style="margin: 0 14px 0 0;" class="pull-left" />
			<h2 class="oswald hidden-phone" style="margin-left: 190px; margin-top: -0.2em; line-height: 1.2em;">NCE In-Person Workshop</h2>
			<p style="margin-left: 190px;">Dr. Arthur occasionally offers live, interactive, in-person workshops.</p>
			<p style="margin-left: 190px;">
				<a href="http://www.arthurnceworkshop.com/" class="btn btn-sm btn-info" target="_blank"><strong>Check Availability and Purchase Here</strong></a>
			</p>
		</div>
	</div>	
</div>
<div class="row">	
	<div class="span12">
		<hr />
		<p><small>** Must purchase Starter or Full Package. See Optional Enhancements on Checkout page or can be purchased each later.<br />
			If you require shipment to a PO Box please call toll free 888-326-9229 for details.</small></p>
	</div>
</div>

</div>
</div>



<!-- ======================= Guarantee ======================= -->


<div id="guarantee" style="margin-top: -2em;">
	<p> <br /></p>
</div>

<div class="container">

<div class="row" style="margin-top: 2em;">
	<div class="span12">
		<div class="page-header">
			<img src="/img/pass_icon.png" class="visible-desktop visible-tablet" width="110px" style="float: right; margin-top: -14px; margin-right: 2em;" />
			<img src="/img/pass_icon.png" class="visible-phone" width="80px" style="float: right; margin-top: -14px;"/>
			<h1 class="section-header" style="color: #063d4c;">Money Back Pass Guarantee + Satisfaction Guarantee</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12" style="margin-top: -2em;">
		<p class="lead" style>Pass the NCE or the purchase price will be refunded (less shipping and taxes)</p>

			<p>The below policies are applicable to the Dr. Arthur’s Study Guide for the NCE National Counselor Examination.</p>
			

		<div class="row">
			<div class="span6 guarantee">
				<h3>Money Back Pass Guarantee Policy Terms</h3>
				<p>CTC offers a money back pass guarantee for the Dr. Arthur&#39;s Study Guide. Pass the NCE, or CTC will refund your money for the cost of the Study Guide (excludes shipping and any sales tax).</p>
				<ul>
					<li>The Study Guide must be purchased at least 30 days, and not more than one year, prior to the exam date.</li>
					<li>If the exam is failed, the customer has 90 days to forward a copy of proof of failure to CTC. If the hard copy was ordered, the NCE Study Guide must be returned. Note: The return expense is the responsibility of the customer.</li>
					<li>Once CTC receives the exam scores (and Study Guide if ordered), CTC will refund the credit card originally used via our online payment service (excludes all shipping charges and any applicable sales tax). The credit should appear 5-10 business days from the processing date.</li>
				</ul>
			</div>
			
			<div class="span6 guarantee">
				<h3>Satisfaction Guarantee Refund Policy Terms</h3>
				<p>
					The customer has 3 days from the purchase date to review the purchased <em>online services</em>, including online exams and eBook, to confirm that it is what he/she expected. If the customer has purchased a hard-copy of the NCE  Study Guide, he/she has <em>3 days from the date of delivery of the Study Guide</em>. If unhappy with the content for any reason, the customer is required to notify CTC within 3 days either by phone or e-mail that he/she is requesting a refund and will be returning the Study Guide, if applicable. Further, to qualify for a refund, the customer <em>may not have taken any part of any of the online exams; they are allowed access for review only</em> if they wish to request a Satisfaction Guarantee refund. Upon proper notification, CTC will turn off access to these online services, and a refund will be issued. For those customers who have purchased the hard-copy, it is required the hard-copy Study Guide be returned to CTC in good condition. Once CTC has received the hard-copy, a refund will be issued (excludes all shipping and any applicable sales tax). Note: The return expense is the responsibility of the customer.
				</p>
			</div>
			
		</div>
		<div class="row">
			<div class="span12">
				<p>For questions about the above policies, or any aspect of the Study Guide, please call toll free 888-326-9229.</p>
			</div>
		</div>
	</div>
</div>

</div>
</div>
</div>

<!-- ======================= About Author ======================= -->
	
<div id="authors">
	<p> <br /></p>
</div>

<div style="margin-top: 1em; background-color: #d8e6f2; padding-top: 1.5em; padding-bottom: 3em;">
	<div class="container">

<div class="row">
	<div class="span12">
		<div class="page-header">
			<!-- <h1 class="section-header" style="color: #063d4c;">Dr. Arthur&#39;s expertise</h1> -->
			<h1 class="section-header" style="color: #063d4c;">About the Author</h1>
		</div>
	
		<div class="row">
			<div class="span9">
				<h3 style="margin-bottom: 0.8em;">Gary L. Arthur <small>Ed.D.</small></h3>
				<p>
				<img src="/img/gary.gif" style="float: left; padding: 3px; border: 1px solid #efefef; margin: .2em 1.5em .5em 0;" />
				Gary L. Arthur, Ed.D., was a Professor Emeritus in the Counseling and Psychological Services Department at Georgia State University. He served as the Coordinator for the Professional Counseling Program and as clinical coordinator for the internship program. His research interests included clinical supervision, therapist safety, geriatrics, and assessment. He taught for over 43 years in the graduate program at Georgia State University.
				</p>
			</div>
		</div>
	</div>
</div>

</div></div>


<!-- ======================= testimonials ======================= -->


<div id="testimonials" style="margin-top: -2em;">
	<p> <br /></p>
</div>

<div class="container">

<div class="row" style="margin-top: 2em;">
	<div class="span12">
		<div class="page-header">
			<h1 class="section-header" style="color: #063d4c;">What Our Users Are Saying</h1>
		</div>
	</div>
</div>

<div class="row">

	<div class="span6">
		
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed the NCE with a score of 139 out of 160. I only needed a 90 to pass. I used your e-study guide and online exams with two other study resources, and your materials were by far the most helpful and comprehensive. I can safely say I was well-prepared, and I will highly recommend your program to others.
			</p>
			<small>Danielle R.</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I am very happy to share that I passed the NCE. Not only did I pass it on my first attempt, but I scored 124 when I only needed 91 to pass! Utilizing the study guide along with the 3 practice exams helped build my confidence. The study guide was easy to follow and allowed me to focus on one concept at a time. I am very grateful for CounselorExams.com's study materials; it was well worth the investment!
			</p>
			<small>C. Oliver</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Gary Arthur's Study Guide is the single most powerful tool anyone can use to prepare for the NCE. The material is extremely well organized and accessible, the text is highly readable, and the information is precisely focused on what you need to know.  Gary's study guide helped me develop a successful test-taking strategy and gave me a clear approach for studying for the exam. The practice examinations gave me an effective chance to test my knowledge. I recommend this study guide to all the students and associate clinicians I supervise.
			</p>
			<small>Don Durkee, Ed.S., LPC, NCC</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I could not have passed the NCE without Dr. Arthur’s workshop, course materials, and practice tests. They were invaluable to me as they help me to make a 126! I would highly recommend anyone preparing for the exam.
			</p>
			<small>J. Sullivan</small>
		</blockquote>
	</div>
	<div class="span6">
		
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Hi Dr. Arthur! Just want to share with you that I passed the NCE and I believe your prep materials had everything to do with it. The Study Guide was a great re-cap of the Master's of Science classes.
			</p>
			<small>Maria Miller</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I am delighted to report that I PASSED my National Counselor Exam by using Dr. Arthur's NCE Study Guide. The Study Guide was comprehensive, well written and easy to understand... and covered all CACREP essentials. The exams after each chapter were also very helpful... the online pre-assessment and practice exams were invaluable!  Dr. Arthur's NCE Study Guide is a must have for anyone preparing for the NCE for licensing &amp; certification.
			</p>
			<small>Maggie G., Ed.M.</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;The practice exams were instrumental in helping me prepare for taking the actual exam, and I passed it with confidence. I would recommend this to anyone who is preparing for the NCE.
			</p>
			<small>Maria Comsudes, MS, NCC</small>
		</blockquote>
		
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Dear Gary, I couldn't have done it without you! Thanks to you and your Study Guide, I passed the examination with room to spare. Thanks again for everything!
			</p>
			<small>Irma Ross</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Just wanted you to know that I passed the NCE Exam last week. The study materials were a big help. I scored 134/160. The cutoff score was 91, so I was well-prepared for the exam.
			</p>
			<small>B. Orlowski</small>
		</blockquote>
		
	</div>
</div>

	<a id="section2Btn" style="position: fixed; bottom:24px;right: 26px; cursor: pointer; cursor: hand;" class="hidden-phone"><img src="/img/phone-up-pointer.svg" /></a>
	<a  id="section2Btn" style="position: fixed; bottom:7%;right: 0;" class="visible-phone"><img src="/img/up-pointer-side.svg" /></a>
	

</div>

<script type="text/javascript">
    $(window).on('load',function(){
        $('#infoModal').modal('show');
    });
</script>

<script>
	
	var section1Btn = document.getElementById("section1Btn"),
	section2Btn = document.getElementById("section2Btn")
	section3Btn = document.getElementById("section3Btn");

	section1Btn.onclick = function() {
	  TweenLite.to(window, 1, {scrollTo:{y:"#guarantee", offsetY:0}});
	}

	section2Btn.onclick = function() {
	  TweenLite.to(window, 1, {scrollTo:{y:"#top", offsetY:60}});
	}

	section3Btn.onclick = function() {
	  TweenLite.to(window, 1, {scrollTo:{y:"#pricing", offsetY:0}});
	}
	
</script>