
<!-- ---------- ncmhce header ---------- -->



<div class="container">
	
<div id="top">  </div>

<div class="row">	
	<div class="span12 hidden-phone">
		
		<div class="pull-right" style="margin-top: 1em; margin-right: 4%; margin-bottom: 1.5em;">
			<img src="/img/pass_icon.png" style="width: 100px;">
		</div>
		
		
		<div style="margin-bottom: 0.5em;">
			<h1 style="font-size: 2.6em; color: #063d4c;">National Clinical Mental Health Counseling Examination</h1>
			<hr Style="margin: 0:" />
			<h2 style="font-size: 1.5em; font-weight: 300; margin-top: -0.8em;">We are proud that <strong>99%</strong> of our customers passed their exam in 2019!<sup style="font-size: 0.6em;">1</sup></h2>
		</div>
	</div>
	
	<div class="span12 visible-phone">
		
		<div class="pull-right" style="margin-top: 1em; margin-right: 4%; margin-bottom: 1.5em;">
			<img src="/img/pass_icon.png" style="width: 70px;">
		</div>
		
		
		<div style="margin-bottom: 0.5em;">
			<h1 style="font-size: 2em; color: #063d4c;">National Clinical Mental Health Counseling Examination</h1>
			<hr Style="margin: 0:" />
			<h2 style="font-size: 1.1em; line-height: 1.3em; font-weight: 300; margin-top: -0.5em;">We are proud that <strong>99%</strong> of our customers passed their exam in 2019!<sup style="font-size: 0.6em;">1</sup></h2>
		</div>
	</div>


</div>
<div class="row" style="margin-bottom: 0.1em;">	
	<div class="span5" style="margin-top: 1em;">
		<img src="/img/ncmhce-group.png" style="width: 96%;" />
		
		<div class="center" style="margin-top: 2em;">
				<h1 style="font-size: 2em; padding: 0 0 2px 0; color: #063d4c;">See how the Scenario Simulator works.</h1>
				<!-- <p>This is a sample <strong>Tutorial Scenario</strong> that shows all selected answers for your review once the scenario has been completed.</p> -->
				<a href="/ncmhce/sample" class="btn btn-larg btn-success" style="padding: 8px 18px; margin: 4px 0 6px 0;">Try a Free Sample Scenario Now</a>
				<p style="font-weight: 300; font-size: 1.1em; line-height: 1em; margin-bottom: 3em;"><em>No registration required.</em></p>
		</div>
		
	</div>
	<div class="span7" style="margin-top: -1.5em;">
		<h1 style="font-size: 2.1em; color: #063d4c;">The Arthur Scenario Simulator</h1>
		<p style="font-weight: 300; font-size: 1.2em; line-height: 1.3em;"><strong>The Scenario Simulator</strong> includes up to 36 online tutorial scenarios and 10 online exam scenarios that emulate the NCMHCE exam, measuring your information gathering and decision making abilities. Scenarios may be taken multiple times for up to a full year allowing you to learn at your own pace.
		</p>
		<h1 style="font-size: 2.1em; color: #0572d8; margin-top: 0.1em;">We Offer Two Different Scenario Types</h1>
		<p style="font-weight: 300; font-size: 1.2em; line-height: 1.3em;">Learn how to maximize your scores using our tutorial scenarios and then practice using the exam scenarios.</p>
		<p style="font-weight: 300; font-size: 1.2em; line-height: 1.3em;"><span style="font-weight: 900; color: #0572d8;">Tutorial Scenarios</span> provide feedback for each answer you select - right or wrong. Learn why an answer is correct or incorrect so you can go into your exam feeling fully prepared.</p>
			
		<p style="font-weight: 300; font-size: 1.2em; line-height: 1.3em;"><span style="font-weight: 900; color: #0572d8;">Exam Scenarios</span> provide practice using the exam format.</p>
		
		
		
		
		
		<p class="hidden-phone pull-left" style="margin-right: 2em;">
			<a class="btn" id="section1Btn" style="margin: 16px 0 24px 0; padding: 9px 12px; font-size: 1.1em; border-color: #1b88dc; background-color: #ffffff; color: #063d4c;"><img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp; See What Our Users Are Saying</a>
		</p>	
		<p style="margin-top: 26px;"><a class="btn btn-success" id="section2Btn" style="font-weight: bold; padding: 9px 16px;">Let's Get Started!</a></p>	
		
	</div>
</div>


</div>
</div>

	<div style="background-color: #0572d8; height: 3.5em; margin-top: -1em;" class="hidden-phone">
		<div class="container">
			<div class="row">
				<div class="span12">
					<p class="oswald center" style="font-weight: 400; font-size: 2em; color: #ffffff; padding-top: 14px; padding-bottom: 16px; margin-top: -0.6em;">MONEY BACK PASS GUARANTEE! &nbsp;&nbsp; <img src="/img/pass_icon-left.png" style="width: 80px; margin-top: -0.3em;"> &nbsp;&nbsp; SATISFACTION GUARANTEE!</p>
				</div>
			</div>
		</div>
	</div>
	
	
<div style="margin-top: 0.5em; background-colo: #d8f0e4; padding-top: 0.1em; padding-bottom: 2em;">
	<div class="container">
		
<div class="row" style="margin-top: 2em;">
	<div class="span6 features">
		<img src="img/check.png" class="check" /><h2 class="oswald">Online Scenario Simulator</h2>
		<p>The Arthur-Brende Scenario Simulator includes up to 46 online scenarios measuring your information gathering and decision making abilities. You get up to 36 <em>tutorial</em> and 10 <em>exam-formatted</em> online scenarios. The tutorial scenarios, written in the same basic format as the exam, give you additional information as you proceed through the scenario to teach you why each selection is a good or bad choice. Then the exam scenarios will give you practice using the nbcc exam format, both in structure and informational responses, so you will be properly prepared to pass your exam. Perfect for those experiencing text anxiety! You may purchase all 46 scenarios, or "pay as you go" in sets of 12. The “pay as you go” packages contain only the tutorial scenarios; the practice exam scenarios may be purchased separately.</p> 
		<img src="img/check.png" class="check" /><h2 class="oswald">Study Supplement</h2>
		<p>The Study Supplement contains an Introduction section that will explain what to expect on your exam and also give you valuable information on how to approach the scenarios to maximize your exam scores. This is followed by a section that contains the most commonly-tested diagnoses from the huge DSM-5 that has been compressed and put into a format that is much easier to apply to the exam. It is finished off with a Reference section and helpful Appendices covering Treatment Instruments. View a <a href="/downloads/NCMHCE-Sample-v3-0-1.pdf" target="_blank"><strong>Sample PDF</strong></a>.</p>
		<img src="img/check.png" class="check" /><h2 class="oswald">Flash Card Study Module</h2>
		<p>Use these online flash cards to promote active recall. Hundreds of brief definitions to re-enforce learning and identify definitions that may require further research.</p>
	</div>
	<div class="span6 features">
		<img src="img/check.png" class="check" /><h2 class="oswald">Money-Back Pass Guarantee</h2>
		<p>We are so confident our material will help you pass your exam that if you are not successful, we will give you your money back or grant you additional assistance at no additional charge. Your choice! The only requirements are you must purchase a minimum of 30 days prior to your exam and you have 90 days from the date of your exam to return any written materials received along with a copy of your exam scores. See <a id="section3Btn" style="cursor: pointer; cursor: hand;"><strong>guarantee policies</strong></a> for details.</p>
		<img src="img/check.png" class="check" /><h2 class="oswald">Learn at your own pace</h2>
		<p>Unlike many other NCMHCE scenario products, our scenarios may be taken multiple times for up to one full year. This allows you to study at the pace that works best for you.</p>
		<img src="img/check.png" class="check" /><h2 class="oswald">Consultation</h2>
		<p>As part of any package purchased, you can schedule a phone consultation with Dr. Gary Arthur for up to 30 minutes.</p>
		<img src="img/check.png" class="check" /><h2 class="oswald">Feedback</h2>
		<p>Your scenario scoring is broken down into the separate categories of information gathering and decision making abilities, just like the actual NCMHCE. This helps you determine where to focus your exam preparation.</p>
		<img src="img/check.png" class="check" /><h2 class="oswald">Personal Profile Page</h2>
		<p>You get a personal profile page containing status of scenarios you have taken, links to your online study materials, ebook downloads, your purchases, and access to more materials.</p>
	</div>
	
		
		<div class="span12">	
			<hr />
			<p class="pull-left"><small><sup>1</sup> Based on number of refunds requested due to failed exams.</small></p>
		</div>
	
</div>
</div>	
		





<!-- ======================= Pricing ======================= -->


<div id="pricing" style="margin-top: -2em;">
	<!-- <p> <br /></p> -->
</div>

<div class="container">

<div class="row" style="margin-top: 2em;">	
	<div class="span12">	
		<div class="page-header">
			<h1 class="section-header" style="color: #063d4c;">What You Get</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span5">
		<div class="save-white hidden-phone" style="margin-bottom: 1.5em;">
			&nbsp;
		</div>
		<div class="price-ground">
			<p style="letter-spacing: 3px; color: white; font-size: 1.3em;">STARTER PACKAGE</P>
			<h1 class="oswald" style="color: white; font-size: 3em; font-weight: 400;">$95</h1>
		</div>
		<div class="price-field">
			<ul>
				<li><strong>12 full-length Tutorial Scenarios</strong>*<br /><small>(may be retaken multiple times)</small></li>
				<li><span class="label label-important">NEW</span> &nbsp;Second Chance Upgrade**<br /><small>&nbsp;</small></li>
				<li><span class="label label-important">NEW</span> &nbsp;Study Supplement Online</li>
				<li><span class="label label-important">NEW</span> &nbsp;Virtual Flash Cards (over 250)</li>
				<li>Phone consultation directly with Dr. Gary Arthur for up to 30 minutes</li>
				<li>Money Back Pass Guarantee</li>
				<li>3-day Satisfaction Guarantee</li>
				<li>Online account active for one year</li>
				<!-- <li>Optional Study Supplement hard copy <br /><small>Available for an additional $40.65</small></li> -->
				
				<li><a class="btn btn-success btn-large" href="/checkout/ncmhce?package=Starter%20Package" style="font-weight: bold; margin-bottom: -9px; width: 85%;">BUY NOW!</a></li>
			</ul>
		</div>
	</div>
	<span class="visible-phone"><br /><br /></span>
	<div class="span5">
		<div class="save-red oswald">
			<p class="oswald" style="font-size: 1.2em; color: white;">Save $106</p>
			<p style="font-size: 0.8em; color: white;">Versus purchasing al la carte items</p>
		</div>
		<div class="price-ground">
			<p style="letter-spacing: 3px; color: white; font-size: 1.3em;">FULL PACKAGE</p>
			<h1 class="oswald" style="color: white; font-size: 3em; font-weight: 400;">$249</h1>
		</div>
		<div class="price-field">
			<ul>
				<li><strong>36 full-length Tutorial Scenarios</strong><br /><small>(may be retaken multiple times)</small></li>
				<li><span class="label label-important">NEW</span> &nbsp;<strong>10 full-length Exam Scenarios</strong><br /><small>(may be retaken multiple times)</small></li>
				<li><span class="label label-important">NEW</span> &nbsp;Study Supplement Online</li>
				<li><span class="label label-important">NEW</span> &nbsp;Virtual Flash Cards (over 250)</li>
				<li>Phone consultation directly with Dr. Gary Arthur for up to 30 minutes</li>
				<li>Money Back Pass Guarantee</li>
				<li>3-day Satisfaction Guarantee</li>
				<li>Online account active for one year</li>

				<!-- <li>Optional Study Supplement hard copy <br /><small>Available for an additional $40.65</small></li> -->
				<li><a class="btn btn-success btn-large" href="/checkout/ncmhce?package=Full%20Package" style="font-weight: bold; margin-bottom: -9px; width: 85%;">BUY NOW!</a></li>
			</ul>
		</div>
		
	</div>
	<div class="span2">
		<div class="save-white">
			&nbsp;
		</div>
		
		<div class="hidden-phone" style="padding: 0;">
			<!-- <center class="hidden-phone"><img src="/img/ncmhce-badge-solid.png" style="padding: 0.1em 0 0.6em 0;" /></center> -->
			<hr />
			<center><p>Buy with confidence</p></center>
			<center><img src="/img/badges/letsencryptlogo.png" style="width: 50%;" /></center>
			<hr />
			<center><h4>To order by phone.</h4></center>
			<center><p>Call toll free <br /><span style="font-size: 1.2em;">888-326-9229</span></p>
			<p><small>Business hours <br />Monday - Friday<br />9:00 AM - 5:00 PM EST.</small></p><br /></center>
		</div>
		<div class="visible-phone" style="padding: 0;">
			<center><h4>To order by phone.</h4></center>
			<center><p>Call toll free <br /><span style="font-size: 1.2em;">888-326-9229</span></p>
			<p><small>Business hours<br />Monday - Friday<br />9:00 AM - 5:00 PM EST.</small></p><br /></center>
		</div>
		
	</div>
	<div class="span12">
	<p style="padding-top: 16px; font-weight: 600;">* &nbsp;Upgrade Packages may be purchased later in sets of 12 tutorial scenarios for $95 per set.<br />
		<span style=" font-weight: 400;">** &nbsp;Within two weeks of purchase you may exchange Starter Package purchase for Full Package for the difference in cost.</span></p>
	</div>
</div>

</div>

<!-- ======================= Other Materials Desktop ======================= -->

<div style="margin-top: 2em; background-color: #d8e6f2; padding-top: 1em; padding-bottom: 2em;" class="hidden-phone">
	<div class="container">
		
		
		<div class="row">	
			<div class="span12">	
				<div class="page-header">
					<h1 class="section-header" style="color: #063d4c;">Other Excellent Study Materials</h1>
				</div>
			</div>
		</div>

		<div class="row center">	
			<div class="span4">	
				<img src="/img/ncmhce-binder3.0.png" width="110px" style="margin: 0 0 18px 0;" />
			</div>
			<div class="span4">	
				<img src="/img/iPad-single.sample.png" width="180px;" style="margin: 0 22px 0 0; padding-top: 10%;" />
			</div>
			<div class="span4">	
				<img src="/img/mac-screen-scen.png" width="210px;" style="margin: 0 22px 0 0; padding-top: 10%;" />
			</p>
			</div>	
		</div>
		<div class="row">	
			<div class="span4">	
				<h2 class="oswald" style="margin-top: -0.3em; line-height: 1.2em;">NCMHCE Study Supplement Hard Copy</h2>
				<p><small>(available for both Starter and Full Package)</small></p>
				<p><strong>Add the Study Supplement Hard Copy for only $40.65**</strong></p>
				<p>Price includes production & shipping costs. This hard copy contains the same information that is found in the online Supplement and eBook included with both packages.</p>
			</div>
			<br class="visible-phone" />
			<div class="span4">	
				<h2 class="oswald" style="margin-top: -0.3em; line-height: 1.2em;"><span class="label label-important">NEW</span> &nbsp;NCMHCE Online Exam Scenarios</h2>
				<p><small>(available for Starter Package Only; included in Full Package)</small></p>
				<p><strong>Add 10 Online Exam Scenarios for only $70.***</strong></p> 
				<p>Exam scenarios will give you practice using the nbcc exam format, both in structure and informational responses. Perfect for those with text anxiety!</p>
			</div>
			<br class="visible-phone" />
			<div class="span4">	
				<h2 class="oswald" style="margin-top: -0.3em; line-height: 1.2em;">NCMHCE Live, Interactive Online Workshops with Dr. Gary Arthur</h2>
				<p>Dr. Arthur offers live, interactive online workshops every 6-12 weeks. Space limited.</p>
				<p>
					<a href="http://www.arthurnceworkshop.com/" class="btn btn-sm btn-info" target="_blank"><strong>Check Availability and Purchase Here</strong></a>
				</p>
			</div>	
		</div>
		<div class="row">	
			<div class="span12">
				<hr />
				<p><small>** Must purchase Starter or Full Package. See Optional Enhancements on Checkout page or can be purchased later.<br />
					*** Must purchase Starter Package.<br />
					If you require shipment to a PO Box please call toll free 888-326-9229 for details.</small></p>
		
			</div>
		</div>

	</div>
</div>

<!-- ======================= Other Materials Phone ======================= -->

<div style="margin-top: 2em; padding-top: 1em; padding-bottom: 2em;" class="visible-phone">
	<div class="container">
		
		
		<div class="row">	
			<div class="span12">	
				<div class="page-header">
					<h1 class="section-header" style="font-size: 1.8em; color: #063d4c;">Other Excellent Study Materials</h1>
				</div>
			</div>
		</div>

		<div class="row">	
			<div class="span4">
				<img src="/img/ncmhce-binder3.0.png" width="100px" style="margin: 0 0 18px 0;" />	
				<h2 class="oswald" style="font-size: 1.5em; margin-top: -0.3em; line-height: 1.1em;">NCMHCE Study Supplement Hard Copy</h2>
				<p><small>(available for both Starter and Full Package)</small></p>
				<p><strong>Add the Study Supplement Hard Copy for only $40.65**</strong></p>
				<p>Price includes production & shipping costs. This hard copy contains the same information that is found in the online Supplement and eBook included with both packages.</p>
			</div>
			<br class="visible-phone" />
			<div class="span4">
				<img src="/img/iPad-single.sample.png" width="180px;" style="margin: 1.5em 0 1.5em 0;" />	
				<h2 class="oswald" style="font-size: 1.5em; margin-top: -0.3em; line-height: 1.1em;"><span class="label label-important">NEW</span> &nbsp;NCMHCE Online Exam Scenarios</h2>
				<p><small>(available for Starter Package Only; included in Full Package)</small></p>
				<p><strong>Add 10 Online Exam Scenarios for only $70.***</strong></p> 
				<p>Exam scenarios will give you practice using the nbcc exam format, both in structure and informational responses. Perfect for those with text anxiety!</p>
			</div>
			<br class="visible-phone" />
			<div class="span4">
				<img src="/img/mac-screen-scen.png" width="210px;" style="margin: 1.5em 0 1.5em 0;" />	
				<h2 class="oswald" style="font-size: 1.5em; margin-top: -0.3em; line-height: 1.1em;">NCMHCE Live, Interactive Online Workshops with Dr. Gary Arthur</h2>
				<p>Dr. Arthur offers live, interactive online workshops every 6-12 weeks. Space limited.</p>
				<p>
					<a href="http://www.arthurnceworkshop.com/" class="btn btn-sm btn-info" target="_blank"><strong>Check Availability and Purchase Here</strong></a>
				</p>
			</div>	
		</div>
		<div class="row">	
			<div class="span12">
				<hr />
				<p><small>** Must purchase Starter or Full Package. See Optional Enhancements on Checkout page or can be purchased later.<br />
					*** Must purchase Starter Package.<br />
					If you require shipment to a PO Box please call toll free 888-326-9229 for details.</small></p>
		
			</div>
		</div>

	</div>
</div>



<!-- ======================= Guarantee ======================= -->


<div id="guarantee" style="margin-top: -2em;">
	<p> <br /></p>
</div>

<div class="container">

<div class="row" style="margin-top: 2em;">
	<div class="span12">
		<div class="page-header">
			<img src="/img/pass_icon.png" class="visible-desktop visible-tablet" width="110px" style="float: right; margin-top: -14px; margin-right: 2em;" />
			<img src="/img/pass_icon.png" class="visible-phone" width="70px" style="float: right; margin-top: -14px;"/>
			<h1 class="section-header hidden-phone" style="color: #063d4c;">Money Back Pass Guarantee + Satisfaction Guarantee</h1>
			<h1 class="section-header visible-phone" style="font-size: 1.8em; color: #063d4c;">Money Back Pass Guarantee + Satisfaction Guarantee</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12" style="margin-top: -1.5em;">
		<p class="lead">Pass the NCMHCE or the purchase price will be refunded (less shipping and taxes)</p>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p>The below policies are applicable to The Arthur-Brende Study Supplement for the NCMHCE National Clinical Mental Health Counseling Examination Online Scenario Simulator.</p>
	</div>
	<div class="span6 guarantee">
		<h4>Money Back Pass Guarantee Policy Terms</h4>
		<p>CTC offers a money back pass guarantee for The Arthur-Brende NCMHCE Study Program. Pass the NCMHCE or CTC will refund your money (excludes shipping and any sales tax).</p>
		<ul>
			<li>The Study Supplement must be purchased at least 30 days, and not more than one year, prior to the exam date.</li>
			<li>If the exam is failed, the customer has 90 days to forward a copy of proof of failure to CTC. If the hard copy was ordered, the NCMHCE Study Supplement must be returned. Note: The return expense is the responsibility of the customer.</li>
			<li>Once CTC receives the exam scores (and Study Supplement if ordered), CTC will refund the credit card originally used via our online payment service (excludes all shipping charges and any applicable sales tax). The credit should appear 5-10 business days from the processing date.</li>
		</ul>
	</div>
	<div class="span6 guarantee">
		<h4>Satisfaction Guarantee Refund Policy Terms</h4>
		<p>
			The customer has 3 days from the purchase date to review the purchased <em>online services,</em> including online Scenarios and eBook, to confirm that it is what he or she expected. If the customer has purchased a hard-copy of the NCMHCE Supplement, he or she has <em>3 days from the date of delivery of the Supplement</em>. If unhappy with the content for any reason, the customer is required to notify CTC within these 3 days either by phone or e-mail that he/she is requesting a refund and will be returning the Supplement, if applicable. Further, to qualify for a refund, the customer <em>may not have accessed more than 3 online scenarios</em>. Upon proper notification, CTC will turn off access to these online services, and a refund will be issued. For those customers who have purchased the hard-copy, it is required the hard-copy Supplement be returned to CTC in good condition. Once CTC has received the hard-copy, a refund will be issued (excludes all shipping and any applicable sales tax). Note: The return expense is the responsibility of the customer.
		</p>
	</div>
	
	<div class="span12">
		<p>For questions about the above policies, or any aspect of the Study Supplement, please call toll free 888-326-9229.</p>
	</div>
</div>
</div>

<!-- ======================= About Author ======================= -->
	
<!-- <div id="authors">
	<p> <br /><br /></p>
</div> -->

<div style="margin-top: 3em; background-color: #d8e6f2; padding-top: 1em; padding-bottom: 2em;" class="hidden-phone">
	<div class="container">

		<div class="row">
			<div class="span12">
				<div class="page-header">
					<h1 class="section-header" style="color: #063d4c;">About the Authors</h1>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span6">
				<h3 style="margin-bottom: 0.8em;">Gary L. Arthur <small>Ed.D.</small></h3>
				<p>
					<img src="/img/gary.gif" style="float: left; padding: 3px; border: 1px solid #efefef; margin-bottom: 1em; margin-right: 1.5em;" />
					Gary L. Arthur, Ed.D., was a Professor Emeritus in the Counseling and Psychological Services Department at Georgia State University. He served as the Coordinator for the Professional Counseling Program and as clinical coordinator for the internship program. His research interests included clinical supervision, therapist safety, geriatrics, and assessment. He taught for over 43 years in the graduate program at Georgia State University.

				</p>
			</div>
			<div class="span6">
				<h3 style="margin-bottom: 0.8em;">Joel Osler Brende <small>M.D.</small></h3>
		
				<p>
					<img src="/img/Joel_Brende.jpg" style="float: left; padding: 3px; border: 1px solid #efefef; margin-bottom: 1em; margin-right: 1.5em;" />
					Credit is extended to Joel Osler Brende for the material in this supplement for his contributions about psychiatric medications, medical associations with psychological disorders and editing the 47 scenarios. Dr. Brende M.D., was Professor & Chairman Emeritus, Dept. of Psychiatry and Behavioral Science and Clinical Professor Emeritus, Dept. of Internal Medicine, Mercer University School of Medicine, Macon, GA. He is certified by The American Board of Psychiatry and Neurology and a Life Fellow of the American Psychiatric Association. He has extensive experience in medical and psychiatric education and has been actively involved in the teaching and supervision of psychotherapists, marriage and family therapy students, and resident physicians in psychiatry and internal medicine. Dr. Brende is a graduate of the University of Minnesota Medical School and received his psychiatric training at the Karl Menninger School of Psychiatry.
					</p>
			</div>
		</div>

	</div>
</div>


<div style="margin-top: 1em; padding-top: 0; padding-bottom: 0;" class="visible-phone">
	<div class="container">

		<div class="row">
			<div class="span12">
				<div class="page-header">
					<h1 class="section-header" style="color: #063d4c;">About the Authors</h1>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span6">
				<h3 style="margin-bottom: 0.8em;">Gary L. Arthur <small>Ed.D., LPC, NCC, CPCS</small></h3>
				<p>
					<img src="/img/gary.gif" style="float: left; padding: 3px; border: 1px solid #efefef; margin-bottom: 1em; margin-right: 1.5em;" />
					Dr. Gary Arthur is Professor Emeritus of Professional Counseling at Georgia State University. He has taught counseling courses at the graduate level for 34+ years and he was named Counselor Educator of the Year 2007 by the Licensed Professional Counselor Association of Georgia. He has published numerous articles in referred journals, and he co-wrote this study guide for the specific purpose of preparing you for the NCMHCE licensure exam.

				</p>
			</div>
			<div class="span6">
				<h3 style="margin-bottom: 0.8em;">Joel Osler Brende <small>M.D.</small></h3>
		
				<p>
					<img src="/img/Joel_Brende.jpg" style="float: left; padding: 3px; border: 1px solid #efefef; margin-bottom: 1em; margin-right: 1.5em;" />
					Joel Osler Brende, M.D. is Professor & Chairman Emeritus, Dept of Psychiatry & Clinical Professor, Dept of Internal Medicine, Mercer University School of Medicine, Macon, GA. He is certified by The American Board of Psychiatry and Neurology and a Life Fellow of the American Psychiatric Association. He has extensive experience in medical and psychiatric education and has been actively involved in the teaching and supervision of psychotherapists, marriage and family therapy students, and resident physicians in psychiatry and internal medicine. Dr. Brende is a graduate of the University of Minnesota Medical School and received his psychiatric training at the Karl Menninger School of psychiatry.</p>
			</div>
		</div>

	</div>
</div>



<!-- ======================= testimonials ======================= -->


<div id="testimonials" style="margin-top: -2em;">
	<p> <br /></p>
</div>

<div class="container">

<div class="row" style="margin-top: 2em;">
	<div class="span12">
		<div class="page-header">
			<h1 class="section-header" style="color: #063d4c;">What Our Users Are Saying</h1>
		</div>
	</div>
</div>

<div class="row">

	<div class="span6">
		
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed the NCMHCE this morning! I'm ecstatic! The study manual as well as the practice scenarios were a massive contribution to my success! Thank you!
			</p>
			<small>David H.</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Just wanted to take a few moments to say thank you for easing the anxiety and stress associated with this test. I took it twice but came a few points shy the first time and aced it the second time. The examples in the practice tests were consist with the test material and allowed me to feel more confident and prepared. The workshop was also a great tool and I am glad to have had that as an option; as it provided me the opportunity to ask you specific questions. Thanks for your patience on the call and I am so excited to be celebrating as a newly licensed therapist!
			</p>
			<small>Tammy Piotter</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I can say, and feel free to quote me, that nothing, in all my preparation, helped me more than the consultation with Dr. Arthur. It was the added value distinctive to your program that made all the difference. With just a short time to prepare, I bought a number of the resources that were available online, but I was still feeling very overwhelmed. The study guide helped to narrow down what I needed to focus upon, the simulated Exams helped me to become familiar with both the test format and the rationale behind the answers, but the consultation is what helped the most. Having explored the options available, it is by far the best deal out there to prepare for the NCMHCE!
			</p>
			<small>Phil</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed!! Without this study program, I would have failed... This program is the best. I really think your supplement should be a college book... Definitely uses examples from real-life and similar to the test. I never write these things, but was really excited and amped up to report how helpful this guide truly is. Your guide will continue to help me as I practice.
			</p>
			<small>Katrina P.</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed the NCMHCE! I am writing to thank you because I credit the Arthur-Brende Study Program for my success. Had I not purchased your program I don't think the outcome would be the same. It was my first time sitting for the exam and I'm so grateful to have passed on the first try.
			</p>
			<small>Tia C.</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;This study guide and the simulations were amazing and were truly the backbone of my preparation for the NCMHCE. I am now independently licensed and owe a great deal to Dr. Arthur's preparation materials. Worth the investment and then some. Wouldn't recommend taking the exam without making this purchase!
			</p>
			<small>Rob Ward</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I wanted to let you know how grateful I am for the help of the counselor exams study guide. I passed my NCMHCE with flying colors and I truly have this study guide and online simulations to thank! I was able to really target the material that I needed a refresher on but also affirm the things that I was doing right. I have told all of my friends that are preparing for the exam that this is the best. I will also continue to reference the material covered in this study guide throughout my career!
			</p>
			<small>Sherese Ezelle</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I used the 37 scenario package and I passed on my first try. In my view, I did not have to put in an inordinate amount of time and effort into studying because number one, I did have my foundation down already, and two, this course helped me to see how the test operated. Without that information, I think I would have failed. The course familiarizes one with the format, teaches one to not do "too much" in the scenarios and certainly not to make random guesses, and third, the course helps one to familiarize oneself with various testing instruments. (At least I knew some names to look up.) I felt that the course made studying very palatable, considering I was under stress already and I did not have a lot of extra time and energy for this. I would recommend this course.
			</p>
			<small>Amy</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Without Dr. Arthur's course and materials there was no way that I would pass one of the most important exams of my career. The sheer variety of practice scenarios and information included in the booklet give you all that you need to get a real feel for how the NCMHCE is presented and the information that you need to know to pass. Additionally Dr. Arthur makes himself available to you personally via phone and email and I cannot say enough about him as a person. He is kind, generous and very much wants to see people succeed. When I called him to tell him I passed he was elated and said that my scores were some of the highest he has ever seen. Great praise for someone who was freaking out days before the exam!
			</p>
			<small>Cyrus N.</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Dr. Arthur, I just wanted to thank you and let you know that I passed my licensing exam on Friday. Your tutorial program is absolutely the best study program on the market. I really enjoyed talking with you this past week and the tips you provided boosted both my morale and my score! Thanks again for this great review program!
			</p>
			<small>D. Kent</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Great study course that prepped me within three months. The study supplement is so informative that I'll be keeping it on my library shelf as a reference. The scenarios, I believe, were the greatest asset with built-in tutorials. I can see now why Dr. Arthur provides a money-back guarantee. If you complete the scenarios and reference the supplement, you WILL pass! (And not just by the skin of your teeth.)
			</p>
			<small>Olivia</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I just wanted to thank all you for the support and such thorough testing software. I just took my NCMHCE today and I passed. I know that the details and the team support I received as well as the follow through with the questions I asked Dr. Arthur; are one of the many reason I was successful today. Thank You.
			</p>
			<small>Jasmin</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Thank you so much, Dr. Arthur! On 12/12/2013 I passed the NCMHCE exam on the first attempt using Dr. Arthur's study program. The online practice scenarios were priceless. The program is affordable and the study guide provides a wealth of information that I will continue to use in my practice as a source of valuable information.
			</p>
			<small>Roxanne Miller</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I wanted to let you know that I passed the NCMHCE for the first time last Friday. I used several study materials but feel your materials were the best and most closely approximated the actual exam.  I felt my money was well spent on the Arthur-Brende study materials.  I will recommend these materials to others who study for the exam.  The study materials that summarized diagnoses with symptoms, typical assessments, appropriate treatments and differential diagnoses were especially helpful.
			</p>
			<small>Donna B.</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I want to thank you for your great customer service and support. I passed! The scenarios were especially helpful, and I was very pleased with the package overall. A very good use of my money - it was worth it! I will recommend your program to my peers.
			</p>
			<small>Debbie M.</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I am a licensed professional and have taken lots of other exams. The NCMHCE is by far the most difficult exam I have taken. If it wasn&#39;t for your material and excellent assistance, I would not have passed my NCMHCE exam and received my state license. Other study material sites are not as professional or helpful as yours.
			</p>
			<small>S. Winkelmann</small>
		</blockquote>
		
	</div>

	<div class="span6 hidden-phone">

		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Hello, I just passed the NCMHCE and did really well! I know it's because of the scenarios that your program provided. Thank you so much!
			</p>
			<small>K. Malavenda</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I wanted to share that I just passed my NCMHCE exam today on my first try!! Your simulations were excellent at helping me understand exactly how to proceed on my exam. I am thrilled and will continue to refer others to your site. Thank you again!
			</p>
			<small>Marissa</small>
 		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Just wanted to say thank you. I passed the NCMHCE today!! This program was everything I needed in order to properly prepare for the exam.
			</p>
			<small>Michelle</small>
		<blockquote>
			</blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;It is with great pleasure and gratitude to tell you that I passed the NCE thanks to your program. Please add me to the statistics of people that have passed the exam because of your help! With much, much gratitude!
			</p>
			<small>Jeff Helms</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;The online [scenarios] were exactly what I needed. I needed lots of repetition of just doing the exam over and over so that I could understand what they were looking for. I took the NCMHCE the first time without your materials and failed. I took it the second time after studying a lot with your materials, any my scores went up over 25 points. Your materials significantly helped.
			</p>
			<small>Jeremy Rampton, LCPC</small>
 		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I want to thank you for how brilliantly you developed your study guide materials. I took the licensing exam yesterday for Mental Health & passed. Your guide was instrumental in allowing me to get a grasp on the structure & content of exam. I'm confident that because of your guide I passed the exam with flying colors! Thank you again for making this guide such a valuable resource.
			</p>
			<small>Rosy C. Landa</small>
 		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed the NCMHCE today! I scored 30 points over the minimum passing score in information gathering and 15 points over the minimum passing score in decision making. Your website, the practice scenarios, the study guide, and the phone consultation were absolutely invaluable. I do not believe I would have passed without them!! Thank you!
			</p>
			<small>V. Schmidt</small>
 		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Thanks again for your support. The [consultation] phone call was invaluable. And I am most certainly recommending your study guide/online scenarios for friends of mine also studying for the exam.
			</p>
			<small>Chris Sloane</small>
 		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;After failing to pass the NCMHCE last year, I took your course. I knew my problems were with HOW to take the exam. I found your study guide and practice scenarios to be just the ticket to improve my understanding of the exam structure. I'm happy to report that I passed the NCMHCE today!
			</p>
			<small>Sandra Wiggins</small>
 		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I'm excited to report that I passed the NCMHCE! Taking the practice scenarios helped me to understand more about appropriate information gathering and decision making. The first time I took the NCMHCE I failed the decision making portion and knew I needed more practice and was referred to CounselorExams. Thank you!
			</p>
			<small>Meagan K.</small>
 		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Just wanted to say that I PASSED the NCMHCE today and I have your scenarios to thank for it!  I will recommend them to others.
			</p>
			<small>M. Welch</small>
 		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I just received word that I passed the NCMHCE! I previously took the test twice and failed twice. I had studied with another company's materials. I just did not understand what they were asking me to do. But by studying with your scenarios, I was able to see the pattern, understand the structure of the test and apply all the knowledge I had. Your examples and explanations of your scoring made it clear why some choices were not acceptable. Thanks for your wonderful web site and your personal service. It made all the difference and I went in feeling completely confident. I passed both sections with 30 more points than I actually needed!
			</p>
			<small>Jane Pitts</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;This is awesome! I don't need to carry around the binder version and I can easily access the eBook while I'm relaxing in bed doing night time reading before sleeping-- in other words, it's awesome that it's so accessible! Thank you!
			</p>
			<small>J. Cho</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Just wanted to let you all know that I took the NCMHCE today... and passed on my first attempt. Your full package of scenarios was VERY helpful in preparing for the exam. In fact, they were more difficult...which made the test seem relatively easy in comparison. Thanks again... and have a good holiday season.
			</p>
			<small>Dr. Joe Cusumano</small>	
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I can't imagine taking the licensure exam without having used the <strong>Arthur-Brende NCMHCE Scenario Simulator</strong> materials to study. I highly recommend it to others preparing for the NCMHCE!
			</p>
			<small>Mindy Parsons</small>
		</blockquote>
		<blockquote>
			<p>
			<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Your customer service ranks among the best I have ever experienced and please know I will continue to advocate your services to all peers and mentorees.
			</p>
			<small>A. Campbell</small>
 		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I just wanted to say a huge THANK YOU because the materials helped so much and I passed my test the first time taking it. The scenarios were so similar to the ones provided and possibly even a little harder, which made me feel extra confident during the actual exam.
			</p>
			<small>Sara F.</small>
 		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I am recommending the <strong>Arthur-Brende NCMHCE Scenario Simulator</strong> to everyone. It was like the actual exam, and very thorough.
			</p>
			<small>Debra Fitzgerald</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Dr. Arthur, I just wanted to drop you a quick line to let you know that I passed the exam today.  Thank you very much for your scenarios and for the time that you gave me on the phone.  Your advice was very helpful in approaching the exam.  There were a few scenarios on there that didn't get much focus in your simulations, but there were others that I was more confident with due to what I learned in the simulations, and I was able to use the test-taking strategies we discussed to get through the ones I was somewhat uncertain on.
			</p>
			<small>M. Trillizio</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I did pass my exam on the first try and I attribute that to your study materials. I will refer your site to other colleagues who are planning to take this exam. I found both the simulations and the accompanying hand book very helpful.
			</p>  
			<small>T. Kirsimae</small>
		</blockquote>
		<blockquote>
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed with flying colors, no small part due to the preparation I received from both the study guide and particularly the scenarios. I would highly recommend using this program to all who seek to pass this exam. Thanks!
			</p>
			<small>M.R.</small>
		</blockquote>
	</div>
</div>



		<a id="section4Btn" style="position: fixed; bottom:24px;right: 26px; cursor: pointer; cursor: hand;" class="hidden-phone"><img src="/img/phone-up-pointer.svg" /></a>
		<a  id="section4Btn" style="position: fixed; bottom:7%;right: 0;" class="visible-phone"><img src="/img/up-pointer-side.svg" /></a>



<script>
	
var section1Btn = document.getElementById("section1Btn"),
    section2Btn = document.getElementById("section2Btn"),
    section3Btn = document.getElementById("section3Btn")
	section4Btn = document.getElementById("section4Btn");

section1Btn.onclick = function() {
  TweenLite.to(window, 1, {scrollTo:{y:"#testimonials", offsetY:0}});
}

section2Btn.onclick = function() {
  TweenLite.to(window, 1, {scrollTo:{y:"#pricing", offsetY:24}});
}

section3Btn.onclick = function() {
  TweenLite.to(window, 1, {scrollTo:{y:"#guarantee", offsetY:0}});
}

section4Btn.onclick = function() {
  TweenLite.to(window, 1, {scrollTo:{y:"#top", offsetY:60}});
}

	
</script>



