<div class="row">	
	<div class="span8 offset2">
		
		<div class="page-header">
			<h1>Reset Your Password</h1>
		</div>
		
		<form class="form-horizontal" method="post">
						
			<div class="control-group" id="password-group">
				<label class="control-label" for="password">New password</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="password" name="password" placeholder="Type a temporary password here." autocomplete="off">
					<br />
					Type a temporary password. Please update <br />
					with a permanent password on your profile page. <br />
					Don't forget to <strong>Update Account</strong> to save.
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<input type="submit" class="btn btn-primary" id="sign-in-btn" value="Sign in" />
				</div>
			</div>

		</form>
		
	</div>
</div>