<div class="row">
	<div class="span6 offset3" style="margin-top: 6em;">
		<div class="page-header">
		  <h1>Oh No!</h1>
		</div>
		<p style="font-size: 1.15em; line-height: 1.7em;">
			It looks like you don't have JavaScript enabled. This site makes heavy use of JavaScript. If you'd like to continue, please enable JavaScript in your browser and <a href="<%= request.referrer %>">try again</a>.
		</p>
		<br /><hr />
	</div>
</div>
