<div class="page-header">
	<h1>
		Thank You
		<small>Your question or message has been sent and is very important to us.</small>
	</h1>
</div>

<p>During our business hours, M-F from 9:30 am to 5:00 pm Eastern time, you can expect a response from us the same day. If you submitted your question after hours or during the weekend, we will get back to you the next business day.</p>