


<!-- ------------ main panel (uses layout container div) ---------- -->


	<div class="row center">
		<div class="span12">
			<img src="img/prepare-header.svg" style="margin-top: 1em;">
			<h1 class="hidden-tablet" style="font-family: 'Oswald', sans-serif; font-size: 3em; color: #063d4c; font-weight: 400; line-height: 1em; margin-top: 0.1em;">
				Dr. Arthur&rsquo;s Study Programs for the NCMHCE and NCE
			</h1> <!-- desktop view -->
			<h1 class="visible-tablet" style="font-family: 'Oswald', sans-serif; font-size: 2.4em; color: #063d4c; font-weight: 400; line-height: 1em; margin-top: 0.1em;">
				Dr. Arthur&rsquo;s Study Programs for the NCMHCE and NCE
			</h1> <!-- tablet view -->
		</div>
	</div>
	<div class="row hidden-tablet"> <!-- desktop view -->
		<div class="span5 offset1" style="margin-top: 3em;">
			<img src="img/main-group.png" width="640px" style="padding-bottom: 0.5em;">
		</div>
		<div class="span5" style="margin-top: 2.5em; padding-left: 2.5em;">
			<p style="font-size: 1.3em; font-weight: 300; color: #535353; line-height: 1.4em; padding-right: 0.5em;">
			Dr. Arthur's Study programs remain the most trusted tools in the field when preparing for your NCE and/or NCMHCE, designed to provide the most comprehensive study material available! Money-back Pass Guaranteed! Prepare using both our tutorial scenarios and our exam scenarios for your NCMHCE. Phone consult directly with the co-author included in your study package! 
			</p>
		</div>
	</div>
	
	<div class="row visible-tablet"> <!-- tablet view -->
		<div class="span5" style="margin-top: 3em;">
			<img src="img/main-group.png" width="640px">
		</div>
		<div class="span7" style="margin-top: 1em;">
			<p style="font-size: 1.1em; font-weight: 300; color: #535353; line-height: 1.3em;">
			Dr. Arthur's Study programs remain the most trusted tools in the field when preparing for your NCE and/or NCMHCE, designed to provide the most comprehensive study material available! Money-back Pass Guaranteed! Prepare using both our tutorial scenarios and our exam scenarios for your NCMHCE. Phone consult directly with the co-author included in your study package! 
			</p>
		</div>
	</div>
	
</div> <!-- ends layout container div -->


<!-- ------------ blue bar (uses new container div) ---------- -->


<div style="background-color: #0573d8; height: 3.5em; margin-top: 2em; margin-bottom: 1em;">
	<div class="container">
		<div class="row">
			<div class="span12 center">
				<p class="oswald" style="font-weight: 400; font-size: 2em; color: #ffffff; padding-top: 14px; padding-bottom: 16px; margin-top: -1.15em;">PASS YOUR STATE LICENSURE EXAM! &nbsp; <img src="/img/pass_icon.png" style="width: 113px; margin-top: -0.4em;"> &nbsp; 95% PASS RATE</p>
			</div>
		</div>
	</div>
</div>

<!-- ------------ sample panel ---------- -->


<div class="container" style="margin-top: 4em;">	
	<div class="row">	
		<div class="span12 center" style="margin-top: -1.5em;">
			<h1 class="oswald" style="font-size: 2.4em; color: #063d4c;"><img style="height: 50px; margin-top: -9px; opacity: 0.3;" src="img/check-box.png"/> &nbsp;You Can Try a Sample NCMHCE Scenario for FREE.</h1> 
			<p style="font-size: 1.5em; font-weight: 300;">See how the NCMHCE Scenario Simulator works. <em>No registration required.</em></p>
			<p>This is a <strong>Sample Tutorial Scenario</strong> that shows all selected answers for your review once the scenario has been completed.</p>
			 <a href="/ncmhce/sample" class="btn btn-large btn-success" style="margin: 10px 0 28px 0;">Try Free Sample Scenario Now</a>
		</div>
	</div>
</div>


<!-- ------------ about products (uses new container div) ---------- -->


<div style="margin-bottom: 1.5em; background-color: #d8e6f2; padding-top: 3em; padding-bottom: 3em; margin-top: 1.5em;">
	<div class="container">	
		<div class="row">
			<div class="span6">
				<h1 style="font-size: 2.2em; color: #063d4c;">How the NCMHCE Scenario Simulator Works</h1>
				<p style="font-size: 1.4em; font-weight: 300; line-height: 1.3em;">You get two different scenario types - tutorial & exam formatted practice scenarios.</p>
					<p style="line-height: 1.5em;">First, learn using tutorial-based scenarios that provide feedback for each answer you select - right or wrong. Then, practice using the exam-based scenarios to simulate taking the actual exam.</p>
			</div>
			<div class="span6">
				<h1 style="font-size: 2.2em; color: #063d4c;">Taking the NCE?</h1>
				<p style="font-size: 1.4em; font-weight: 300; line-height: 1.3em;">The NCE Study Guide along with the online practice exams are the tool of choice for passing the NCE!</p>
				<p style="line-height: 1.5em;">Dr. Arthur was approached to write a study guide for this exam years ago and has been updating and teaching from his NCE Study Guide ever since. It covers all eight CACREP topics plus supervision, ethics, and all other topics needed to properly prepare and pass the NCE.</p>
			</div>
		</div>
	</div>
</div> <!-- ends about container div -->


<!-- ------------ get started (uses layout container div) ---------- -->


<div class="container" style="margin-top: 3.8em;">
	<div class="row" style="margin-bottom: 3.5em;">
		<div class="span12 center" style="margin-bottom: 1em;">
			<img src="img/get-started-header.svg" width="300px"/>
		</div>
		<div class="span4 center">
			<div class="well well-sm">
				<img src="img/ncmhce-badge.png">
				<a class="btn btn-success btn-large" href="/ncmhce" style="margin-top: 14px; width: 85%; font-weight: bold;">Get Started...</a>
			</div>
		</div>
		<div class="span4 center">
				<h1 style="font-size: 1.9em; color: #063d4c; padding-top: 24px;">Not sure which licensure exam <br />you need to take?</h1>
				<p>The NBCC web site has your state's <br />specific licensure info.</p>
				<a class="btn btn btn-info" href="http://nbcc.org/directory" target="_blank">CHECK MY STATE</a>
		</div>
		<div class="span4 center">
			<div class="well well-sm">
				<img src="img/nce-badge.png">
				<a class="btn btn-success btn-large" href="/nce" style="margin-top: 14px; width: 85%; font-weight: bold;">Get Started...</a>
			</div>
		</div>
	</div>
</div> <!-- ends layout container div -->


<!-- ------------ testimonials (uses new container div) ---------- -->


<div style="margin-bottom: 0em; background-color: #cfe6d9; padding-top: 1.5em; padding-bottom: 2em;">
	<div class="container">
		<div class="row" style="padding-top: 1em; padding-bottom: 1em;">
			<div class="span12">
				<h1 style="text-align: center; margin-bottom: 0.6em; font-size: 2.6em; color: #063d4c;"><img style="height: 40px; opacity: 0.3;" src="img/quote-open.png"/> &nbsp;What Our Users Are Saying</h1>
			</div>
			
			<div id="steps">
				<div id="step1" class="step">
					
					<div class="span6" style="min-height: 13em;">

						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Great study course that prepped me within three months. The study supplement is so informative that I'll be keeping it on my library shelf as a reference. The scenarios, I believe, were the greatest asset with built-in tutorials. I can see now why Dr. Arthur provides a money-back guarantee. If you complete the scenarios and reference the supplement, you WILL pass! (And not just by the skin of your teeth.)
							</p>
							<small>Olivia</small>
						</blockquote>


						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed the NCMHCE! I am writing to thank you because I credit the Arthur-Brende Study Program for my success. Had I not purchased your program I don't think the outcome would be the same. It was my first time sitting for the exam and I'm so grateful to have passed on the first try.
							</p>
							<small>Tia C.</small>
						</blockquote>
					</div>
					
				</div>
			

				<div id="step2" class="step">
					
					<div class="span6" style="min-height: 13em;">
				
						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed the NCE with a score of 139 out of 160. I only needed a 90 to pass. I used your e-study guide and online exams with two other study resources, and your materials were by far the most helpful and comprehensive. I can safely say I was well-prepared, and I will highly recommend your program to others.
							</p>
							<small>Danielle R.</small>
						</blockquote>


						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I wanted to let you know how grateful I am for the help of the counselor exams study guide. I passed my NCMHCE with flying colors and I truly have this study guide and online simulations to thank! I was able to really target the material that I needed a refresher on but also affirm the things that I was doing right. I have told all of my friends that are preparing for the exam that this is the best. I will also continue to reference the material covered in this study guide throughout my career!
							</p>
							<small>Sherese Ezelle</small>
						</blockquote>
			
					</div>
					
				</div>
				
			</div>
			
			<!-- <div class="span12 center">
				<div id="time-buttons" style="margin-top: 1em; margin-bottom: 1em;">
					<button class="playIt" id="play1">1</button>
					<button class="playIt" id="play2">2</button>
				</div>
			</div> -->
			
		</div>

	</div>
</div> <!-- ends testimonials container div -->


<!-- ------------ guarantees (uses layout container div) ---------- -->
	
	
<div class="container" style="margin-top: 4em; margin-bottom: 4em;">
	<div class="row">
		<div class="span2 center">
			<img src="/img/pass_icon-left.png" style="width: 113px; margin-bottom: 12px;"><br />
			<a class="btn btn btn-info" href="/faq">Get Details</a>
		</div>
		<div class="span5">
			<h1 style="font-size: 2.4em; color: #063d4c;">MONEY BACK PASS GUARANTEE</h1>
			<p>We also back our program with our Money-Back Pass Guarantee. No other product offers you a money-back pass guarantee. If you are among our 5% of customers who do not successfully pass their exam, we give you the option to either get your money back or receive additional assistance if you choose to keep our materials. Your choice.</p>
		</div>
		<div class="span5">
			<h1 style="font-size: 2.4em; color: #063d4c;">SATISFACTION GUARANTEE</h1>
			<p>SATISFACTION GUARANTEE We guarantee you will love our study programs or we will refund the cost of your materials. That's right, you can actually order your materials and review everything for a full three days. (Limitations apply towards taking the exams.) If the material is not what you expected, return it for a full refund (minus any shipping charges incurred.)</p>
		</div>
	</div>
	
</div>


<!-- ------------ page ointer top ---------- -->


<a href="#top" style="position: fixed; bottom:7%;right: 0;" class="visible-phone"><img src="/img/up-pointer-side.svg" /></a>


<!-- <script>
	function sceneOne() {
		var tl = new TimelineLite({id:"one"});

		tl.to("#step1", 0.4, {autoAlpha:0});

		return tl;
	}

	var triggerOne = new TimelineLite({
	  paused: true
	});
	triggerOne.add(sceneOne());



	function sceneTwo() {
		var tl = new TimelineLite({id:"two"});

		tl.to("#step2", 0.4, {autoAlpha:0});

		return tl;
	}

	var triggerTwo = new TimelineLite({
	  paused: true
	});
	triggerTwo.add(sceneTwo());





	$("#play1").on("click", function(e) {
	  e.preventDefault();
	  triggerOne.restart();
	});

	$("#play2").on("click", function(e) {
	  e.preventDefault();
	  triggerTwo.restart();
	});

</script> -->

