<!-- ------------ main panel (uses layout container div) ---------- -->


	<div class="row">
		<div class="span12 center">
			<img src="img/prepare-header.svg" style="margin: 1em auto 0 auto; width: 42%;" class="visible-desktop">
			<img src="img/prepare-header.svg" style="margin: 1em auto 0 auto; width: 55%;" class="visible-tablet">
			<img src="img/prepare-header.svg" style="margin: 1em auto 0 auto; width: 90%;" class="visible-phone">
			<h1 class="visible-desktop" style="font-family: 'Oswald', sans-serif; font-size: 2.8em; color: #063d4c; font-weight: 400; line-height: 1em; margin-top: 0.1em;">
				Dr. Arthur&rsquo;s Study Programs for the NCMHCE and NCE
			</h1> <!-- desktop view -->
			<h1 class="visible-tablet" style="font-family: 'Oswald', sans-serif; font-size: 2.4em; color: #063d4c; font-weight: 400; line-height: 1em; margin-top: 0.1em;">
				Dr. Arthur&rsquo;s Study Programs for the NCMHCE and NCE
			</h1> <!-- tablet view -->
			<h1 class="visible-phone" style="font-family: 'Oswald', sans-serif; font-size: 2em; color: #063d4c; font-weight: 400; line-height: 1.2em; margin-top: 0.1em;">
				Dr. Arthur&rsquo;s Study Programs for the NCMHCE and NCE
			</h1> <!-- phone view -->
		</div>
	</div>
	<div class="row hidden-tablet"> <!-- desktop view -->
		<div class="span5 center" style="margin-top: 2.5em;">
			<img src="img/main-group.png" width="90%" style="padding-bottom: 0.5em;">
		</div>
		<div class="span7" style="margin-top: 1.5em;">
			<p style="font-size: 1.5em; font-weight: 600; color: #000000; line-height: 1.4em;" class="visible-desktop">
				Smarter Preparation. Better Results.
			</p>
			
			<p style="font-size: 1.4em; font-weight: 600; color: #000000; line-height: 1.3em;" class="visible-phone">
				Smarter Preparation. <br />Better Results.
			</p>
			<p style="font-size: 1.25em; font-weight: 300; color: #000000; line-height: 1.4em;" class="hidden-phone">
			Dr. Arthur's Study programs remain the most trusted tools in the field when preparing for your NCE and/or NCMHCE, designed to provide the most comprehensive study material available! Money Back Pass Guaranteed! Prepare using both our tutorial scenarios and our exam scenarios for your NCMHCE. Phone consult directly with the co-author included in your study package! &nbsp; <a id="section1Btn" style="cursor: pointer; cursor: hand;"><strong>Let's Get Started!</strong></a>
			</p>
			<p style="font-size: 1.1em; font-weight: 300; color: #000000; line-height: 1.3em;" class="visible-phone">
			Dr. Arthur's Study programs remain the most trusted tools in the field when preparing for your NCE and/or NCMHCE, designed to provide the most comprehensive study material available! Money Back Pass Guaranteed! Prepare using both our tutorial scenarios and our exam scenarios for your NCMHCE. Phone consult directly with the co-author included in your study package!
			</p>
		</div>
	</div>
	
	<div class="row visible-tablet"> <!-- tablet view -->
		<div class="span5" style="margin-top: 3em;">
			<img src="img/main-group.png" width="640px">
		</div>
		<div class="span7" style="margin-top: 1em;">
			<p style="font-size: 1.3em; font-weight: 600; color: #000000; line-height: 1.4em;">
				Smarter Preparation. Better Results.
			</p>
			<p style="font-size: 1.1em; font-weight: 300; color: #535353; line-height: 1.3em;">
			Dr. Arthur's Study programs remain the most trusted tools in the field when preparing for your NCE and/or NCMHCE, designed to provide the most comprehensive study material available! Money-back Pass Guaranteed! Prepare using both our tutorial scenarios and our exam scenarios for your NCMHCE. Phone consult directly with the co-author included in your study package! &nbsp; <a id="section1Btn" style="cursor: pointer; cursor: hand;"><strong>Let's Get Started!</strong></a> 
			</p>
		</div>
	</div>
	
</div> <!-- ends layout container div -->


<!-- ------------ blue bar (uses new container div) ---------- -->


<div style="background-color: #0573d8; height: 3.5em; margin-top: 2em; margin-bottom: 1em;" class="hidden-phone">
	<div class="container">
		<div class="row">
			<div class="span12 center">
				<p class="oswald" style="font-weight: 400; font-size: 2em; color: #ffffff; padding-top: 14px; padding-bottom: 16px; margin-top: -1.15em;">PASS YOUR STATE LICENSURE EXAM! &nbsp; <img src="/img/pass_icon.png" style="width: 113px; margin-top: -0.4em;"> &nbsp; 98% PASS RATE</p>
			</div>
		</div>
	</div>
</div>

<hr style="border-color: green" class="visible-phone" />
<div class="row visible-phone" style="margin-top: 2em;">
	<div class="span12">
		
		<img src="/img/pass_icon.png" style="width: 90px; margin-top: 0.1em; float: right;" />
		<p class="oswald" style="font-weight: 700; font-size: 1.9em; color: #0572d8; line-height: 1.1em; margin-top: -0.6em;">PASS YOUR STATE <br />LICENSURE EXAM! <br />98% PASS RATE</p> 
	</div>
	<hr style="border-color: green" class="visible-phone" />
</div>


<!-- ------------ sample panel ---------- -->


<div class="container hidden-phone" style="margin-top: 4em;">	
	<div class="row">	
		<div class="span12 center" style="margin-top: -1.5em;">
			<h1 class="oswald" style="font-size: 2em; color: #063d4c;"><img style="height: 40px; margin-top: -9px; opacity: 0.3;" src="img/check-box.png"/> &nbsp;You Can Try a Sample NCMHCE Scenario for FREE.</h1> 
			<p style="font-size: 1.5em; font-weight: 300; line-height: 1.3em;">See how the NCMHCE Scenario Simulator works. <br class="visible-tablet"/><em>No registration required.</em></p>
			<p>This is a <strong>Sample Tutorial Scenario</strong> that shows all selected answers for your review once the scenario has been completed.</p>
			 <a href="/ncmhce/sample" class="btn btn-success" style="font-size: 1.1em; padding: 8px 18px; margin: 10px 0 28px 0;">Try Free Sample Scenario Now</a>
		</div>
	</div>
</div>

<div class="container visible-phone" style="margin-top: 1em;">	
	<div class="row">	
		<div class="span12 center" style="margin-top: -1.5em;">
			<h1 class="oswald" style="font-size: 1.7em; color: #063d4c;">You Can Try a Sample NCMHCE Scenario for FREE.</h1> 
			<p style="font-size: 1.2em; font-weight: 300; line-height: 1.3em;">See how the NCMHCE Scenario Simulator works. <br /><em>No registration required.</em></p>
			<p>This is a <strong>Sample Tutorial Scenario</strong> that shows all selected answers for your review once the scenario has been completed.</p>
			 <a href="/ncmhce/sample" class="btn btn-success" style="font-size: 1.1em; padding: 8px 18px; margin: 10px 0 28px 0;">Try Free Sample Scenario Now</a>
		</div>
	</div>
	
</div>



<!-- ------------ about products (uses new container div) ---------- -->

<!-- about container div desktop -->
<div style="margin-bottom: 1.5em; background-color: #d8e6f2; padding-top: 3em; padding-bottom: 3em; margin-top: 1.5em;" class="visible-desktop visible-tablet">
	<div class="container">	
		<div class="row">
			<div class="span6">
				<h1 style="font-size: 2.1em; color: #063d4c;">How the NCMHCE Scenario Simulator Works</h1>
				<p style="font-size: 1.4em; font-weight: 300; line-height: 1.3em;">We offer two different scenario types - tutorial & exam formatted practice scenarios.</p>
					<p style="line-height: 1.5em;">First, learn using tutorial-based scenarios that provide feedback for each answer you select - right or wrong. Then, practice using the exam-based scenarios to simulate taking the actual exam.</p>
			</div>
			<div class="span6">
				<h1 style="font-size: 2.1em; color: #063d4c;">Taking the NCE?</h1>
				<p style="font-size: 1.4em; font-weight: 300; line-height: 1.3em;">The NCE Study Guide along with the online practice exams are the tool of choice for passing the NCE!</p>
				<p style="line-height: 1.5em;">Dr. Arthur was approached to write a study guide for this exam years ago and has been updating and teaching from his NCE Study Guide ever since. It covers all eight CACREP topics plus supervision, ethics, and all other topics needed to properly prepare and pass the NCE.</p>
			</div>
		</div>
	</div>
</div> <!-- ends about container div desktop -->

<!-- about container div phone -->
<div class="visible-phone">
	<div class="container">	
		<div class="row">
			<hr style="border-color: green" class="visible-phone" />
			<div class="span6">
				<h1 style="font-size: 2.1em; color: #063d4c;">How the NCMHCE Scenario Simulator Works</h1>
				<p style="font-size: 1.4em; font-weight: 300; line-height: 1.3em;">We offer two different scenario types - tutorial & exam formatted practice scenarios.</p>
					<p style="line-height: 1.5em;">First, learn using tutorial-based scenarios that provide feedback for each answer you select - right or wrong. Then, practice using the exam-based scenarios to simulate taking the actual exam.</p>
			</div>
			<div class="span6">
				<h1 style="font-size: 2.1em; color: #063d4c;">Taking the NCE?</h1>
				<p style="font-size: 1.4em; font-weight: 300; line-height: 1.3em;">The NCE Study Guide along with the online practice exams are the tool of choice for passing the NCE!</p>
				<p style="line-height: 1.5em;">Dr. Arthur was approached to write a study guide for this exam years ago and has been updating and teaching from his NCE Study Guide ever since. It covers all eight CACREP topics plus supervision, ethics, and all other topics needed to properly prepare and pass the NCE.</p>
			</div>
		</div>
	</div>
</div>
<!-- ends about container div phone -->



<!-- ------------ get started (uses layout container div) ---------- -->

<div id="getStarted"> </div>

<!-- layout container div for desktop and tablet -->
<div class="container hidden-phone" style="margin-top: 3.8em;">
	<div class="row" style="margin-bottom: 3.5em;">
		<div class="span12 center" style="margin-bottom: 1em;">
			<img src="img/get-started-header.svg" width="300px"/>
		</div>
		<div class="span4 center">
			<div class="well well-sm">
				<img src="img/ncmhce-logo-welcome.png">
				<a class="btn btn-success btn-large" href="/ncmhce" style="margin-top: 14px; width: 85%; font-weight: bold;">Get Started...</a>
			</div>
		</div>
		<div class="span4 center">
				<h1 style="font-size: 1.9em; color: #063d4c; padding-top: 10px; line-height: 1em;">Not sure which licensure exam you need to take?</h1>
				<p>The NBCC web site has your <br />state's specific licensure info.</p>
				<a class="btn btn btn-info" href="http://nbcc.org/directory" target="_blank">CHECK MY STATE</a>
		</div>
		<div class="span4 center">
			<div class="well well-sm">
				<img src="img/nce-logo-welcome.png">
				<a class="btn btn-success btn-large" href="/nce" style="margin-top: 14px; width: 85%; font-weight: bold;">Get Started...</a>
			</div>
		</div>
	</div>
</div> <!-- ends layout container div for desktop and tablet -->

<!-- layout container div for phone -->
<hr style="border-color: green" class="visible-phone" />
<div class="container visible-phone" style="margin-top: 2em;">
	<div class="row" style="margin-bottom: 1em;">
		<div class="span12 center" style="margin-bottom: 1em;">
			<img src="img/get-started-header.svg" width="230px"/>
		</div>
		<div class="span4 center">
			<div class="well well-sm">
				<img src="img/ncmhce-logo-welcome.png">
				<a class="btn btn-success btn-large" href="/ncmhce" style="margin-top: 14px; width: 85%; font-weight: bold;">Get Started...</a>
			</div>
		</div>
		<div class="span4 center">
			<div class="well well-sm">
				<img src="img/nce-logo-welcome.png">
				<a class="btn btn-success btn-large" href="/nce" style="margin-top: 14px; width: 85%; font-weight: bold;">Get Started...</a>
			</div>
		</div>
		<div class="span4 center">
				<h1 style="font-size: 1.9em; color: #063d4c; padding-top: 10px;">Not sure which licensure <br />exam you need to take?</h1>
				<p>The NBCC web site has your state's <br />specific licensure info.</p>
				<a class="btn btn btn-info" href="http://nbcc.org/directory" target="_blank">CHECK MY STATE</a>
		</div>
		
	</div>
</div> <!-- ends layout container div for phone -->



<!-- ------------ testimonials tablet and desktop ---------- -->


<div style="margin-bottom: 0em; background-color: #cfe6d9; padding-top: 1.5em; padding-bottom: 2em;" class="hidden-phone">
	<div class="container">
		<div class="row" style="padding-top: 1em; padding-bottom: 1em;">
			<div class="span12">
				<h1 style="text-align: center; margin-bottom: 0.6em; font-size: 2.6em; color: #063d4c;"><img style="height: 40px; opacity: 0.3;" src="img/quote-open.png"/> &nbsp;What Our Users Are Saying</h1>
			</div>
			<div id="steps">
				<div id="step1" class="step">
					<div class="span6" style="min-height: 13em;">
						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I have the worst test anxiety, and I am legally blind so I need a lot of accommodations. I stumbled across the site and took a gamble. I have never had any confidence in taking tests, but I am proud to say that I made it through my exam with no anxiety, and way above the score needed to pass. The site is incredibly accessible for people with screen readers, and that made all of the difference to me.
							</p>
							<small>Nicole</small>
						</blockquote>
						
						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed the NCMHCE yesterday on my first attempt. I used Dr. Arthur's study materials and I will be recommending the materials to my colleagues for their upcoming exams. The consult with Dr. Arthur was extremely valuable and a critical piece of my success. The consult reduced my test anxiety and left me feeling prepared to take the exam.
							</p>
							<small>Lindsay B.</small>
						</blockquote>
						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Great study course that prepped me within three months. The study supplement is so informative that I'll be keeping it on my library shelf as a reference. The scenarios, I believe, were the greatest asset with built-in tutorials. I can see now why Dr. Arthur provides a money-back guarantee. If you complete the scenarios and reference the supplement, you WILL pass! (And not just by the skin of your teeth.)
							</p>
							<small>Olivia</small>
						</blockquote>
					</div>
				</div>
				<div id="step3" class="step">
					<div class="span6" style="min-height: 13em;">
						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed my licensure exam! It was my first attempt and this test prep was the main source of guidance I used while preparing to sit for the NCMHCE. I felt prepared, informed and confident when I started my exam. If I’m being honest, I have never felt that way before taking an exam.
							</p>
							<small>Jessica W.</small>
						</blockquote>
						
						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed the NCE with a score of 139 out of 160. I only needed a 90 to pass. I used your e-study guide and online exams with two other study resources, and your materials were by far the most helpful and comprehensive. I can safely say I was well-prepared, and I will highly recommend your program to others.
							</p>
							<small>Danielle R.</small>
						</blockquote>
						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I wanted to let you know how grateful I am for the help of the counselor exams study guide. I passed my NCMHCE with flying colors and I truly have this study guide and online simulations to thank! I was able to really target the material that I needed a refresher on but also affirm the things that I was doing right. I have told all of my friends that are preparing for the exam that this is the best. I will also continue to reference the material covered in this study guide throughout my career!
							</p>
							<small>Sherese Ezelle</small>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> <!-- ends testimonials container div -->

<!-- ------------ testimonials tablet and desktop ---------- -->


	<div class="container visible-phone">
		<hr style="border-color: green" class="visible-phone" />
		<div class="row">
			<div class="span12">
				<h1 style="margin-bottom: 1em; font-size: 2em; color: #063d4c;">What Our Users Are Saying</h1>
			</div>
			<div id="steps">
				<div id="step1" class="step">
					<div class="span6" style="min-height: 13em;">
						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I have the worst test anxiety, and I am legally blind so I need a lot of accommodations. I stumbled across the site and took a gamble. I have never had any confidence in taking tests, but I am proud to say that I made it through my exam with no anxiety, and way above the score needed to pass. The site is incredibly accessible for people with screen readers, and that made all of the difference to me.
							</p>
							<small>Nicole</small>
						</blockquote>
						<blockquote style="border-color: white;">
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed my licensure exam! It was my first attempt and this test prep was the main source of guidance I used while preparing to sit for the NCMHCE. I felt prepared, informed and confident when I started my exam. If I’m being honest, I have never felt that way before taking an exam.
							</p>
							<small>Jessica W.</small>
						</blockquote>
						<blockquote>
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed the NCMHCE yesterday on my first attempt. I used Dr. Arthur's study materials and I will be recommending the materials to my colleagues for their upcoming exams. The consult with Dr. Arthur was extremely valuable and a critical piece of my success. The consult reduced my test anxiety and left me feeling prepared to take the exam.
							</p>
							<small>Lindsay B.</small>
						</blockquote>
						<blockquote>
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;Great study course that prepped me within three months. The study supplement is so informative that I'll be keeping it on my library shelf as a reference. The scenarios, I believe, were the greatest asset with built-in tutorials. I can see now why Dr. Arthur provides a money-back guarantee. If you complete the scenarios and reference the supplement, you WILL pass! (And not just by the skin of your teeth.)
							</p>
							<small>Olivia</small>
						</blockquote>
					</div>
				</div>
				<div id="step2" class="step">
					<div class="span6" style="min-height: 13em;">
						<blockquote>
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed the NCE with a score of 139 out of 160. I only needed a 90 to pass. I used your e-study guide and online exams with two other study resources, and your materials were by far the most helpful and comprehensive. I can safely say I was well-prepared, and I will highly recommend your program to others.
							</p>
							<small>Danielle R.</small>
						</blockquote>
						<blockquote>
							<p>
								<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I wanted to let you know how grateful I am for the help of the counselor exams study guide. I passed my NCMHCE with flying colors and I truly have this study guide and online simulations to thank! I was able to really target the material that I needed a refresher on but also affirm the things that I was doing right. I have told all of my friends that are preparing for the exam that this is the best. I will also continue to reference the material covered in this study guide throughout my career!
							</p>
							<small>Sherese Ezelle</small>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
</div> <!-- ends testimonials container div -->



<!-- ------------ guarantees tablet and desktop ---------- -->
	
	
<div class="container hidden-phone" style="margin-top: 4em; margin-bottom: 4em;">
	<div class="row">
		<div class="span2 center">
			<img src="/img/pass_icon-left.png" style="width: 113px; margin-bottom: 12px;"><br />
			<a class="btn btn btn-info" href="/faq?myTabContent=guarantee">Get Details</a>
		</div>
		<div class="span5">
			<h1 style="font-size: 2.1em; color: #063d4c;">MONEY BACK PASS GUARANTEE</h1>
			<p>We back our program with our Money-Back Pass Guarantee. No other product offers you a money-back pass guarantee. If you are among our 5% of customers who do not successfully pass their exam, we give you the option to either get your money back or receive additional assistance if you choose to keep our materials. Your choice.</p>
		</div>
		<div class="span5">
			<h1 style="font-size: 2.1em; color: #063d4c;">SATISFACTION GUARANTEE</h1>
			<p>We guarantee you will love our study programs or we will refund the cost of your materials. That's right, you can actually order your materials and review everything for a full three days. (Limitations apply towards taking the exams.) If the material is not what you expected, return it for a full refund (minus any shipping charges incurred.)</p>
		</div>
	</div>
	
</div>

<hr style="border-color: green" class="visible-phone" />	
<div class="container visible-phone" style="margin-top: 1em; margin-bottom: 1em;">
	<div class="row">
		<div class="span2 center">
			<img src="/img/pass_icon-left.png" style="width: 90px; margin-bottom: 12px;"><br />
		</div>
		<div class="span5">
			<h1 style="font-size: 2.1em; color: #063d4c;" class="center">MONEY BACK PASS GUARANTEE</h1>
			<p>We back our program with our Money-Back Pass Guarantee. No other product offers you a money-back pass guarantee. If you are among our 5% of customers who do not successfully pass their exam, we give you the option to either get your money back or receive additional assistance if you choose to keep our materials. Your choice.</p>
		</div>
		<div class="span5">
			<h1 style="font-size: 2.1em; color: #063d4c;" class="center">SATISFACTION GUARANTEE</h1>
			<p>We guarantee you will love our study programs or we will refund the cost of your materials. That's right, you can actually order your materials and review everything for a full three days. (Limitations apply towards taking the exams.) If the material is not what you expected, return it for a full refund (minus any shipping charges incurred.)</p>
		</div>
	</div>
	
</div>



<!-- ------------ page ointer top ---------- -->


<!-- <a href="#top" style="position: fixed; bottom:7%;right: 0;" class="visible-phone"><img src="/img/up-pointer-side.svg" /></a> -->


<script>
	
	var section1Btn = document.getElementById("section1Btn");

	section1Btn.onclick = function() {
	  TweenLite.to(window, 1, {scrollTo:{y:"#getStarted", offsetY:60}});
	}
	
</script>
