<%= erb :'how-it-works/nav', layout: false %>


<h2>eBook Formats</h2>

<div class="row">
<div class="span6">

	<p>The eBook is formatted as PDF.</p> 
	<p>EPUB works on iPhone/iPad, Android, and eReaders. MOBI works on Kindle and Nook. PDF works on any device with a PDF reader.</p>

</div>
<div class="span6">

	<p>There are different methods for getting ebooks onto devices. Please refer to your user manual for the best method for your device. We will attempt to support as many as we can.</p>

</div>
</div>