<%= erb :'how-it-works/nav', layout: false %>


<h2>Use epub on Android Devices</h2>

<p><span class="label">Step 1</span> &nbsp; You must have an eBook reader installed on your Android phone. To download an eBook reader, open the <strong>"Play Store"</strong> app on your phone. Then search for <strong>"ebook reader"</strong> and select and install the app of your choice. One example of a free eBook application that we can recommend is <strong>"Aldiko Book Reader."</strong></p>
 
<p><span class="label">Step 2</span> &nbsp; Using the browser on your phone, go to <strong>counselorexams.com</strong>.</p>
 
<p><span class="label">Step 3</span> &nbsp; Tap the <strong>Menu</strong> button at top right of screen. Then tap the green <strong>Sign in</strong> button.</p>

<p><span class="label">Step 4</span> &nbsp; Enter your account <strong>email</strong> and <strong>password</strong>. Then tap the <strong>Sign in</strong> button. This will take you to your <strong>Profile</strong> page.</p>

<p><span class="label">Step 5</span> &nbsp; Scroll to the <strong>Downloads</strong> section at the bottom and tap <strong>Download</strong> for the first item in the list, which is the epub format that works on phones.</p>

<p><span class="label">Step 6</span> &nbsp; After download of the epub file is complete, open your eBook app and import the epub file you have downloaded.</p>

<p>In <strong>Aldiko</strong>, you do this by tapping <strong>"File"</strong> then scroll down to the <strong>"eBooks"</strong> folder and tap it to open. Tap the epub file you downloaded, and then tap <strong>"Import"</strong> when prompted.</p>

<p>The file will download, and will then be ready to read by tapping the <strong>"cover."</strong></p>