<%= erb :'how-it-works/nav', layout: false %>


<h2>Change my password</h2>
			  
<div class="row">
	<div class="span4">
		<img src="/img/how-it-works/change-password.png" />
	</div>
	<div class="span5">
		<br />
			<h3>Change Password</h3>
			<p>You can change your password on you Profile page.</p> 
			<p>Simply type in a new password into 'New Password' and select 'Update Account' button.</p>
		</div>
	</div>
		  		 		  
</div>

