<%= erb :'how-it-works/nav', layout: false %>


<h2>Use epub for iPhone and iPad</h2>

		<ul class="nav nav-pills" id="myTab">
			  <li class="active"><a href="#overview" data-toggle="pill">Overview</a></li>
			  <li><a href="#home" data-toggle="pill">Step 1</a></li>
			  <li><a href="#nav" data-toggle="pill">Step 2</a></li>
			  <li><a href="#sign-in" data-toggle="pill">Step 3</a></li>
			  <li><a href="#ebook" data-toggle="pill">Step 4</a></li>
			  <li><a href="#open" data-toggle="pill">Step 5</a></li>
			  <li><a href="#email" data-toggle="pill">Email option</a></li>
		</ul>
		
		
  		<div class="tab-content">	
			</div><div class="tab-content">
			<div class="tab-pane active" id="overview">
			  
			  <div class="row">
		  			<div class="span4">
		  				<img src="/img/how-it-works//epub/ibooks.png" />
		  			</div>
		  			<div class="span7">
		  				<br />
			  			<h3>Overview</h3>
			  			<p>You must have <b>iBooks</b> installed to read ebooks. It's free from the App Store.</p>
				  			<p><span class="label">Step 1</span> &nbsp; Using the Safari browser on your iPhone, go to <b>counselorexams.com</b>.</p> 
			  			<p><span class="label">Step 2</span> &nbsp; Tap the <b>Menu</b> button at top right of screen. Then tap the green <b>Sign in</b> button.</p>
			  			<p><span class="label">Step 3</span> &nbsp; Enter your account <b>email</b> and <b>password</b>. Then tap the <b>Sign in</b> button. This will take you to your <b>Profile</b> page.</p>
			  			<p><span class="label">Step 4</span> &nbsp; Scroll to the <b>Downloads</b> section and tap <b>Download</b> for the first item in the list which is the <b>epub</b> format that works on iPhone.</p>
			  			<p><span class="label">Step 5</span> &nbsp; After download is complete tap the <b>Open in &ldquo;iBooks&rdquo;</b> button at top right of screen. This will install the eBook and open it with iBooks.</p>
			  			<p>Your eBook is now available on your iBooks bookshelf.</p>
			  			<p>If you need more help, try the step-by-step tutorial or use the <span class="label label-info">Email option</span>.</b></p>
			  		</div>
		  		</div>
		  		
		  </div>
		  
		  <div class="tab-pane" id="home">
			  
			  	<div class="row">
		  			<div class="span4">
		  				<img src="/img/how-it-works//epub/home.png" />
		  			</div>
		  			<div class="span6">
		  			<br /><br /><br />
		  				<p>You must have <b>iBooks</b> installed to read ebooks. It's free from the App Store.</p>
			  			<h3>Go to CounselorExams.com website</h3>
			  			<p>Using the Safari browser on your iPhone, go to <b>counselorexams.com</b>.</p> 
			  			<p><p>Tap the <b>Menu</b> button at top right of screen to access more pages.</p>
			  		</div>
		  		</div>
			  
		  </div>
		  <div class="tab-pane" id="nav">
		  
			  	<div class="row">
		  			<div class="span4">
		  				<img src="/img/how-it-works//epub/nav.png" />
		  			</div>
		  			<div class="span6">
		  			<br /><br /><br />
			  			<h3>Go to Sign in page</h3>
			  			<p>Tap the green <b>Sign in</b> button which will take you to the <b>Sign in</b> page.</p>
			  		</div>
		  		</div>
			  
		  </div>
		  <div class="tab-pane" id="sign-in">
			  
			  <div class="row">
		  			<div class="span4">
		  				<img src="/img/how-it-works//epub/sign-in.png" />
		  			</div>
		  			<div class="span6">
		  			<br /><br /><br />
			  			<h3>Sign-in to your account</h3>
			  			<p>Enter your account <b>email</b> and <b>password</b>. Then tap the <b>Sign in</b> button. This will take you to your <b>Profile</b> page.</p>
			  		</div>
		  		</div>
		  		
		  </div>
		  <div class="tab-pane" id="ebook">
			  
			  <div class="row">
		  			<div class="span4">
		  				<img src="/img/how-it-works//epub/ebook.png" />
		  			</div>
		  			<div class="span6">
		  			<br /><br /><br />
			  			<h3>Download epub</h3>
			  			<p>Scroll to the <b>Downloads</b> section and tap <b>Download</b> for the first item in the list which is the <b>epub</b> format that works on iPhone.</p>
			  			<p>This will download the epub to iPhone.</p>
			  		</div>
		  		</div>
		  		
		  </div>
		  <div class="tab-pane" id="open">
			  
			  <div class="row">
		  			<div class="span4">
		  				<img src="/img/how-it-works//epub/open.png" />
		  			</div>
		  			<div class="span6">
		  			<br /><br /><br />
			  			<h3>Open ebook in iBooks</h3>
			  			<p>After download is complete tap the <b>Open in &ldquo;iBooks&rdquo;</b> button at top right of screen. This will install the eBook and open it with iBooks.</p>
			  			<p>Your eBook is now available on your iBooks bookshelf whenever you need it.</p>
			  		</div>
		  		</div>
		  		
		  </div>

		  <div class="tab-pane" id="email">
			  
			  <div class="row">
		  			<div class="span4">
		  				<img src="/img/how-it-works/epub/email.png" />
		  			</div>
		  			<div class="span6">
		  			<br /><br /><br />
			  			<h3>Email epub to iPhone from your computer</h3>
			  			<p>You must have <b>iBooks</b> installed to read ebooks. It's free from the App Store.</p>
			  			<p>First download epub to your computer.</p>
			  			<p>Now you can email epub as an attachment to an email account available on your iPhone.</p>
			  			<p>Then, just tap the attachment icon in the email body and select <b>Open in &ldquo;iBooks&rdquo;</b>.</p>
			  			<p>This will install the eBook and open it with iBooks.</p>
			  			<p>Your eBook is now available on your iBooks bookshelf.</p>
			  		</div>
		  		</div>
		  		
		  </div>
		  
		</div>
	</div>
<br />

 
<script>
  $(function () {
    $('#myTab a:first').tab('show');
  })
</script>
