<%= erb :'how-it-works/nav', layout: false %>


<h2>NCE Study Tips</h2>

<div class="row">
<div class="span6">


<h4>The best way to use Dr. Arthur's Study Guide to study for the NCE</h4>

<p>We recommend completing the online Pre-Assessment Exam first to help you evaluate your strengths and weaknesses. Then review our Introductory Chapter in the Study Guide to identify which chapters contain the most questions on the exam. Based on your Pre-Assessment scores and the most heavily tested chapters of the exam, decide where to begin your studying. It is smart to prioritize your study time by focusing on terms, names, and ethics. Other suggestions:</p>

	<ul>
		<li>Locate a study partner.</li>
		<li>Attend a live preparatory seminar.</li>
		<li>Take one chapter to work with you.</li>
		<li>Take the Practice Examinations. They are built like the NCE. Frequently customers provide feedback which indicates that our Pre-Assessment Examination and Practice Examinations are more difficult than the actual NCE, so if you pass those, you should do well.</li>
	</ul>
	
</div>
<div class="span6">

<h4>Best ways to study</h4>
	
<p>We're always looking for useful study tips to help all of our users. If you have any to pass on to other users please send through the <a href="/feedback">comments page</a>.</p> 
<p>Everyone in the community would appreciate your help.</p>

</div>
</div>