<%= erb :'how-it-works/nav', layout: false %>


<h2>Frequently asked questions</h2>

<div class="row">
<div class="span6">


<h4>How often is the Study Supplement updated?</h4>

<p>The Study Supplement is constantly monitored for updating based on curriculum changes, changes to the NCMHCE, and feedback from students. When new material becomes known, it is added to the Study Supplement.</p>



<h4>How soon will the Study Supplement hard copy arrive?</h4>

<p>For those who purchase the NCMHCE using a credit card, we ship the same day if received before 3:00 pm EST. CTC also accepts payment by check or money order, though this can delay the shipping process. All shipments are by FedEx Ground service. Your Study Supplement will be shipped from the Atlanta, Georgia area. Expedited shipping is available for an additional charge.</p>



<h4>Am I able to use the scenarios multiple times?</h4>

<p>Absolutely! Once you purchase access to the online Scenario Simulator, you are free to take each scenario as many times as you like during your one year timeframe.</p>



<h4>Can I purchase just the manual or just the online scenarios?</h4>

<p>We do not sell the NCMHCE Study Supplement without the online scenarios. The online scenarios are meant to be used together with the Study Supplement. Dr. Arthur feels both are needed to properly prepare for the licensure exam.</p>



<h4>What do I do to get my money back for not passing?</h4>

<p>To receive your pass guarantee refund, forward the Study Supplement along with a copy of your exam results within 90 days of taking your exam to our office: Career Training Concepts, Inc., ATTN: Deb Storm, 3640 Hewatt Court, Snellville, GA 30039. Once we receive your package, we will refund the cost of the study materials to you. If you purchased the eBook version only, you will need to only provide a copy of your exam scores.</p>

</div>

<div class="span5">

<h4>What is considered a passing score on the scenarios?</h4>

<p>Our scenarios do not actually provide a "Pass" or "Fail" indicator. While the Arthur-Brende Scenario Simulator is set up to emulate the NCMHCE scenarios, we are not directly affiliated with the NBCC who administers the NCMHCE. Therefore, we do not know the actual pass/fail criteria used for the NCMHCE. To our knowledge, the NBCC does not publicize this information. However, it is our understanding that the "pass" point for each scenario of the NCMHCE is set by the NBCC's examination committee, and so the exact "pass" point may vary from one exam to another, depending on the scenarios included on the exam you attempt.</p>

<p>The NBCC's information about NCMHCE scoring can be found on page 12 of the nbcc handbook found here:  <a href="http://www.nbcc.org/assets/exam/handbooks/ncmhce.pdf" target="blank">www.nbcc.org/assets/exam/handbooks/ncmhce.pdf</a></p>

<p>We recommend that you use the practice scenarios 1-37 to become comfortable with the exam format and to understand the types of DSM-5 related questions that are typical of the NCMHCE. To determine if you are in a good score range, take 10 scenarios and tally up the total points for all correct responses. Both your Information Gathering and Decision Making scores should fall within the 66% - 72% range. For scenarios 20-37, drop the range to 59% - 65% as they are more difficult.</p>

<p>Anecdotal feedback from many customers shows that the Arthur-Brende Scenarios are more difficult than the actual scenarios of the NCMHCE, so that if you do well on our scenarios, you should do well on the exam. Remember, just because your scores do not fall into the range stated above does not necessarily mean you won't pass the NCMHCE. Dr. Arthur's advice is to continue taking the scenarios - note you can take them over again as many times as you like.</p>

<p>We do not know every customer's pass/fail history, but we do know that based on the percentage of customers who request their money back based on our Pass Guarantee, our customer's pass rate is 95%. Many customers call or write to us of their success. We'd love to hear your feedback as well!</p>



<!-- <h4>I am unclear as to which of my answers were correct or incorrect?</h4>

<p>Once you complete a scenario, you can get your scores by clicking on the "get your scores" link at the bottom of the page. This will take you to the answer page. At the top of the answer page, you will get your score as a percentage. You also will see your Information Gathering Score, Decision Making Score, Overall Score, and Average Overall Score. The Average Overall Score is the score of all the other users to date and thus is a good gauge for your success in completing each scenario.</p>

<p>Further down the page, each question is listed with all available options shown. Each option shows a point value in parentheses in front of the question option and it is also shown in green, red, blue, or black. The color coding is as follows:</p>

<p>If you chose the question and it was an appropriate question to ask for that situation, the answer appears in <span class="badge badge-success">green</span>.</p>

<p>If you chose the question and it was an inappropriate question to ask for that situation, the answer appears in <span class="badge badge-important">red</span>.</p>

<p>If you chose the question but the question held no point value (neither appropriate nor inappropriate), the answer appears in <span class="badge badge-info">blue</span>.</p>

<p>If you did not choose the question, the answer appears in black.</p> -->


</div>
</div>

