<%= erb :'how-it-works/nav', layout: false %>


<h2>NCE Frequently asked questions</h2>

<div class="row">
<div class="span6">


<h4>How long can I access the online exams?</h4>

<p>Your login information will be good for one year from the date of your purchase.</p>




<h4>What are Dr. Arthur's qualifications?</h4>

<P>Dr. Arthur received his Ed.D. degree in Counseling from Auburn University. He is a retired Professor Emeritus of Professional Counseling, having taught for over 35 years with Georgia State University. He has served as the Coordinator of the Professional Counseling Program at Georgia State University as well as the Coordinator of the Practicum/Internship Program. In addition, he has taught over 185 two-day NCE Prep seminars using his Study Guide since 1986. He was awarded Counselor Educator of the Year 2007 by the Licensed Professional Counselor Association of Georgia.</P>



<h4>How often is the Study Guide updated?</h4>

<p>The Study Guide is constantly monitored for updating based on curriculum changes, changes to the NCE, and feedback from students. When new material becomes known, it is added to the Study Guide.</p>



<h4>How soon will the Study Guide arrive?</h4>

<p>For those who purchase the Study Guide hard copy by credit card, we ship the same day if ordered before 3:00 pm EST. CTC also accepts payment by check or money order, though this can delay the shipping process.</p>

<p>All shipments are by FedEx Ground service. Your Study Guide will be shipped from the Atlanta, GA area. Expedited shipping is available for an additional charge.</p>



<h4>Do I get my money back if I do not pass?</h4>

<p>We do have a Money Back Pass Guarantee policy (see NCE page).</p>

</div>
<div class="span6">

<h4>What is the NCE pass rate for those who purchase the Study Guide?</h4>

<p>We do not know every customer's pass/fail history, but we do know that based on the percentage of customers who request their money back based on our Pass Guarantee, our customer's pass rate is 94%. Clearly those using the Dr. Arthur Study Guide to prepare perform above the national pass rate (72%) for the NCE. Many customers call or write to us of their success. We'd love to hear your <a href="/feedback">feedback</a> as well!</p>



<h4>Does Dr. Arthur offer live preparatory workshops?</h4>

<p>Yes - Dr. Arthur has conducted over 185 two-day workshops designed to provide you with in-person instruction that will help you pass the NCE. The workshops are held a few times a year near Atlanta, Georgia. For more information or to make reservation, visit Dr. Arthur's site at <a href="http://arthurnceworkshop.com">arthurnceworkshop.com</a>.</p>



<h4>Is Dr. Arthur's Study Guide enough, or do I need additional textbooks to study?</h4>

<p>The answer depends on how familiar you are with the material in the Study Guide. Feedback from customers indicates that for recent graduates, the Study Guide is a sufficient resource that is both comprehensive in scope, while also concise in covering likely concepts that will be covered on the NCE.</p>

<p>If you have been out of your program of study 5-10 years, additional material may be helpful. Just be careful not to overwhelm yourself with too much material.</p>

	
</div>
</div>
	