<%= erb :'how-it-works/nav', layout: false %>


<h2>Frequently asked questions</h2>

<div class="span7">

<h4>Can I place my order or ask questions by phone?</h4>

<p>Absolutely! Call Career Training Concepts toll free at 888-326-9229. Our business hours are Monday - Friday, 9:00 AM - 5 PM EST.</p>




<h4>How long can I access the online scenarios or exams?</h4>

<p>Your login information will be good for one year from the date of your purchase.</p>




<h4>What do I do to get my money back for not passing?</h4>

<p>To receive your pass guarantee refund, forward the Study Supplement along with a copy of your exam results within 90 days of taking your exam to our office: Career Training Concepts, Inc., ATTN: Deb Storm, 3640 Hewatt Court, Snellville, GA 30039. Once we receive your package, we will refund the cost of the study materials to you. If you purchased the eBook you will only need to forward your exam scores.</p>

</div>