<%= erb :'how-it-works/nav', layout: false %>


<h2>Flash Card Study Module</h2>

<div class="row">
<div class="span7">

	
	
	<img src="/img/how-it-works/flashcards.png" class="white-well" />

</div>
<div class="span5">

	<p>Flash cards are available with your account and are accessed from the study online section of your profile page. They are organized by chapter. Select a chapter and then view flash cards. Show and hide definitions by clicking on the card. Then navigate to the next or previous card with arrows at top right and left.</p>
	
	<p>Use these online flash cards to promote active recall. Hundreds of brief definitions to re-enforce learning and identify definitions that may require further research.</p>

</div>
</div>