<%= erb :'how-it-works/nav', layout: false %>


<h2>I forgot my password</h2>

	<ul class="nav nav-pills" id="myTab">
		  <li class="active"><a href="#enter" data-toggle="pill">Step 1</a></li>
		  <li><a href="#link" data-toggle="pill">Step 2</a></li>
		  <li><a href="#new" data-toggle="pill">Step 3</a></li>
	</ul>
		

  		
  		<div class="tab-content">	
			</div><div class="tab-content">
			<div class="tab-pane active" id="enter">
			  
			  <div class="row">
		  			<div class="span8">
		  				<img src="/img/how-it-works/pass/1.png" class="white-well" />
		  			</div>
		  			<div class="span4">
		  			<br />
			  			<h3>Enter email</h3>
			  			<p>If you forgot you password you can easily get a new one.</p> 
			  			<p>Enter your account email and select &ldquo;I forgot my password&rdquo; under the password box. This will send an email to your inbox with a link to a page where you can reset your password.</p>
			  		</div>
		  		</div>
		  		
		  </div>

		  <div class="tab-pane" id="link">
		  
			  	<div class="row">
		  			<div class="span8">
		  				<img src="/img/how-it-works/pass/2.png" class="white-well" />
		  			</div>
		  			<div class="span4">
		  			<br />
			  			<h3>Use link from you email</h3>
			  			<p>Check your email inbox for an email from &ldquo;no-reply@counselorexams.com&rdquo;.</p>
			  			<p>Follow the link to reset your password.</p>
			  		</div>
		  		</div>
			  
		  </div>
		  <div class="tab-pane" id="new">
			  
			  <div class="row">
		  			<div class="span8">
		  				<img src="/img/how-it-works/pass/3.png" class="white-well" />
		  			</div>
		  			<div class="span4">
		  			<br />
			  			<h3>Reset your password</h3>
			  			<p>Enter a new password for your CounselorExams.com account and sign in.</p>
			  			<p><em>Remember your new password.</em></p>
			  		</div>
		  		</div>
		  		
		  </div>
		  		  		  
		</div>
	</div>
<br />
<hr />
		</div>
</div>
 
<script>
  $(function () {
    $('#myTab a:first').tab('show');
  })
</script>

