<%= erb :'how-it-works/nav', layout: false %>


<div class="row">
	<div class="span7">
		<h2>Learn how CounselorExams.com works.</h2>
		<p>Here you will find instruction accompanied by images to help you with the basic functionality of the site. Included are frequently asked questions that will answer many specific questions.</p>
		<p>If you still need help or have more questions please go to 'Questions and Comments'. We will respond as quickly as we can. For more immediate assistance you can call customer support at 888-326-9229.</p>
	</div>
</div>
<br /><br />