<%= erb :'how-it-works/nav', layout: false %>


<h2>Use mobi on Kindle and Nook</h2>

<p>Download the .mobi ebook for Kindle to your computer (epub will not work on Kindle).</p>

<p>Connect Kindle to your computer with a USB cable. This will mount Kindle as a USB flash drive.</p>

<p>Copy mobi ebook into either the books folder of docs folder. Note: when opening ebook to read it may only be accessible from the docs folder.</p>

<p>Unmount Kindle before disconnecting from your computer or you may damage the data.</p>

<p>You can now use your ebook on Kindle.</p>

<h4>Email mobi to Kindle</h4>

<p>If you have an active email account on Kindle you can email mobi ebook to that account.</p> 

