<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1 class="oswald visible-desktop" style="font-size: 2.7em; margin: 0 0 0.5em 0;">How it works</h1>
		</div>
		<div class="btn-toolbar">		
			<div class="btn-group">
			  <a class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
				  <strong>Profile</strong>&nbsp;
				  <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
				  <li><a href="/how-it-works/sign-in">Sign-in</a></li>
				  <li><a href="/how-it-works/forgot-password">Forgot password</a></li>
				  <li><a href="/how-it-works/change-password">Change password</a></li>
				  <li><a href="/how-it-works/profile">Profile</a></li>
				  <!-- <li><a href="/how-it-works/bookmark">Bookmark</a></li> -->
				  <!-- <li><a href="/how-it-works/faq">FAQs</a></li> -->
			  </ul>
			</div>
		   <div class="btn-group">   		
		     <a class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
				  <strong>NCMHCE</strong>&nbsp;
				  <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
				  <li><a href="/how-it-works/scenarios">Scenarios</a></li>
				  <li><a href="/how-it-works/study-supplement">Study Supplement</a></li>
				  <li><a href="/how-it-works/flashcards">Flash Cards</a></li>
				  <li><a href="/how-it-works/scenario-tips">Study Tips</a></li>
				  <!-- <li><a href="/how-it-works/fa-m">FAQs</a></li> -->
			  </ul>
			</div>
		   <div class="btn-group">   		
		     <a class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
				  <strong>NCE</strong>&nbsp;
		 		  <span class="caret"></span>
		 	  </a>
		 	  <ul class="dropdown-menu">
				  <li><a href="/how-it-works/exams">Exams</a></li>
				  <li><a href="/how-it-works/exam-areas">Exam Areas</a></li>
				  <li><a href="/how-it-works/study-guide">Study Guide</a></li>
				  <li><a href="/how-it-works/flashcards">Flash Cards</a></li>
				  <li><a href="/how-it-works/exam-tips">Study Tips</a></li>
				  <!-- <li><a href="/how-it-works/fa-n">FAQs</a></li> -->
			  </ul>
			</div>
			
		   <div class="btn-group">   		
			  <a class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
				  <strong>eBook</strong>&nbsp;
		 		  <span class="caret"></span>
		 	  </a>
		 	  <ul class="dropdown-menu">
				  <!-- <li><a href="/how-it-works/about-ebooks">About eBook</a></li>
				  <li class="divider"></li> -->
				  <!-- <li><a href="/how-it-works/epub">iPhone and iPad</a></li>
				  <li><a href="/how-it-works/mobi">Kindle and Nook</a></li>
				  <li><a href="/how-it-works/android">Android Devices</a></li> -->
				  <li><a href="/how-it-works/pdf">PDF Readers</a></li>
			  </ul>
			</div>
		</div>
	</div>
</div>

