<%= erb :'how-it-works/nav', layout: false %>


<h2>Using PDF</h2>

<div class="row">
	<div class="span8">
		<img src="/img/how-it-works/download-pdf.png" class="white-well" />
	</div>
	<div class="span4">
		<p>PDF works on any device with a PDF reader. Keep in mind that the PDF eBooks we use are letter sized pages and might be difficult for small screens like phones.</p>
		<h3>Download PDF</h3>
		<p>Download PDF from the Download section of your <a href="/profile">Profile</a> page. Simply select the 'Download' link next to the PDF version of the eBook. This will place a copy of the eBook in your downloads folder (or the location you have chosen for downloads on your computer).</p>
		<p>You can download a free PDF Reader from <a href="http://get.adobe.com/reader/">Adobe</a> if you do not currently have one.</p>
	</div>
</div>