<%= erb :'how-it-works/nav', layout: false %>


<h2>Profile Page</h2>

<div class="row">
	<div class="span8">
		<img src="/img/how-it-works/profile.png" class="white-well" />
	</div>
	<div class="span4">

		<p>Your <strong>Profile</strong> page displays information about your account.</p>
		
		<p>In the left panel under your name you can keep your account information current, find your expiration date, and purchase a 90 day extension if you need it.</p>
		
		<p>The <strong>Scenarios sections</strong> gives you access to the package you purchased. You can choose a scenario to get started, view list of the scenarios you have selected along with your score, the last date taken, and a link to review or continue with each.</p>
		
		<p>The Downloads section lists PDF eBook for download and a link for online use.</p>
		
		<p>You can purchase more scenarios or a hard copy of the study guide or supplement if not already purchased.</p>
		
		<p>Your purchase history is displayed at the bottom of the page.</p>

</div>
</div>