<%= erb :'how-it-works/nav', layout: false %>


<h2>Online Scenarios</h2>
		
<ul class="nav nav-pills" id="myTab">
		  <li class="active"><a href="#scenario" data-toggle="pill">Step 1</a></li>
		  <li><a href="#answers" data-toggle="pill">Step 2</a></li>
		  <li><a href="#stop" data-toggle="pill">Step 3</a></li>
		  <li><a href="#advance" data-toggle="pill">Step 4</a></li>
		  <li><a href="#score" data-toggle="pill">Step 5</a></li>
		  <li><a href="#view" data-toggle="pill">Step 6</a></li>
		  <li><a href="#next" data-toggle="pill">Step 7</a></li>
	</ul>

  		

		<div class="tab-content">
			<div class="tab-pane active" id="scenario">
			  
			  <div class="row">
		  			<div class="span8">
		  				<img src="/img/how-it-works/scen/scenario.png" class="white-well" />
		  			</div>
		  			<div class="span4">
		  			<br />
			  			<h3>Scenarios Format</h3>
			  			<p>If you purchased a NCMHCE package you get access on your Profile page.</p>
			  			<p>You can choose a scenario to get started or choose to review a scenario already begun.</p>
			  			<p>The scenarios are similar to the design utilized by the National Board for Certified Counselors (NBCC) for the NCMHCE. These scenarios follow the standard protocol used to identify a mental health disorder for a simulated client case. Many of the scenarios will provide adequate data to make a diagnosis; however, several will provide data that point to multiple diagnoses.</p>
				  		<p>The scenarios will be introduced with a <strong>Summary</strong> of the client's initial statement or chief complaint. Read each summary carefully.</p>
				  		<p>Scenarios 1-37 are our tutorial scenarios. While these scenarios are using the basic format as the exam, our responses are more extensive for tutorial purposes. Note that the scenarios become more complex as you advance deeper into the list.</p>
						<p>Scenarios 64-73 are our exam scenarios. These scenarios are designed to be just like the exam. You will note the responses are much briefer.</p>
			  		</div>
		  		</div>
		  		
		  </div>

		  <div class="tab-pane" id="answers">
		  
			  	<div class="row">
		  			<div class="span8">
		  				<img src="/img/how-it-works//scen/multiple-answers.png" class="white-well" />
		  			</div>
		  			<div class="span4">
		  			<br />
			  			<h3>Answering Questions</h3>
			  			<p>As the counselor, you must work through appropriate questions and gather the information necessary to formulate a diagnosis and treatment plan.</p>
			  			<p>As you answer each question, note that most have more than one answer that will provide important information. These answers will <b>positively affect your score,</b> so it is best to select as many positive answers as possible. Other answers will not be helpful, and thus will <b>negatively affect your score.</b>  You will find out the score associated with each answer at the end of the scenario.</p>
			  			<p>Part of the critical thinking evaluation is for you to determine which answers are important. A <b>response</b> is displayed immediately upon choosing an answer.</p>
			  		</div>
		  		</div>
			  
		  </div>
		  <div class="tab-pane" id="stop">
			  
			  <div class="row">
		  			<div class="span8">
		  				<img src="/img/how-it-works//scen/stop-question.png" class="white-well" />
		  			</div>
		  			<div class="span4">
		  			<br />
			  			<h3>Stop Question</h3>
			  			<p>Important: each scenario contains a diagnosis <b>Stop question.</b> After initial information gathering questions, sufficient information will have been provided for you to make a correct diagnosis. For the Stop question, you will be instructed not to go forward until a correct diagnosis is made.</p>
			  			<p>For scenarios with two diagnoses, it is suggested that you select the answer with the most prevalent diagnosis first followed by the secondary diagnosis. A few scenarios will instruct you to find three diagnoses before going to the next question. On those scenarios with three correct answers, you may select in any order.  A recommended treatment question usually follows the diagnosis question. When multiple diagnoses are identified, the treatment question should be answered with treatments for all identified unless a specified diagnosis is requested.</p>
			  		</div>
		  		</div>
		  		
		  </div>
		  
		  <div class="tab-pane" id="advance">
			  
			  <div class="row">
		  			<div class="span8">
		  				<img src="/img/how-it-works//scen/page-box.png" class="white-well" />
		  			</div>
		  			<div class="span4">
		  			<br />
			  			<h3>Page Navigation</h3>
			  			<p>At the bottom of the scenario you will find a pagination bar displaying a page for each question. You must select at least one option before the next page becomes available (question number tuns blue).<br />
NOTE: Be sure to select all your choices before moving to the next page. Once you leave the page, you will be able to return to review but you will not be able to make any additional selections.</p>
			  			<p>Once you have completed all questions you can select 'Show Score' to see your results.</p>
			  			<p>You can go to another scenario before completing the one in use, then return later to finish. Your progress is remembered.</p>
			  		</div>
		  		</div>
		  		
		  </div>
		  
		  <div class="tab-pane" id="score">
			  
			  <div class="row">
		  			<div class="span8">
		  				<img src="/img/how-it-works//scen/score-page.png" class="white-well" />
		  			</div>
		  			<div class="span4">
		  			<br />
			  			<h3>Score</h3>
			  			<p>You <strong>score</strong> is displayed in two parts "Information Gathering" and "Decision Making". Your 'Information Gathering' and 'Decision Making' points are compared to total possible points.</p>
			  			<p>There is no passing score used for the online scenario simulator.</p>
			  			<p>Once you select the 'Show Score', all questions will be displayed with all answers that include point values for each even if you did not select those choices. It is color coded for easier reading.</p>
			  		</div>
		  		</div>
		  		
		  </div>
		  
		  <div class="tab-pane" id="view">
			  
			  <div class="row">
		  			<div class="span8">
		  				<img src="/img/how-it-works//scen/color-codes.png" class="white-well" />
		  			</div>
		  			<div class="span4">
		  			<br />
			  			<h3>Answers</h3>
			  			<p>Each answer is coded as <span class="badge">Not Chosen</span> , <span class="badge badge-important">Incorrect</span> , or <span class="badge badge-success">Correct</span> and includes scoring values.</p>
						<p>Some questions will show 'Discussions' or 'Recommendations' at the end.</p>
			  			
			  		</div>
		  		</div>
		  		
		  </div>
		  
		  <div class="tab-pane" id="next">
			  
			  <div class="row">
		  			<div class="span8">
		  				<img src="/img/how-it-works//scen/reset-page.png" class="white-well" />
		  			</div>
		  			<div class="span4">
		  			<br />
			  			<h3>What Next</h3>
			  			<p>The Online Scenario Simulator was created to help you prepare for the real exam; however, keep in mind scenarios 1-37 are tutorial in style. These scenarios have more information than you will find on the actual exam, especially a negative-scored choice. Our 10 Exam Scenarios are designed to emulate the exam more closely. These are scenarios 64-73.</p>
						<p>You may take each scenario as many time as you wish by selecting 'Start Over'. Remember this resets you current score but gives you a new score upon completion. You may wish to write down your score before retaking to track your improvement.</p>
			  		</div>
		  		</div>
		  		
		  </div>

		  		  		  
		</div>
	</div>
<br />


 
<script>
  $(function () {
    $('#myTab a:first').tab('show');
  })
</script>

