<%= erb :'how-it-works/nav', layout: false %>


<h2>Signing in</h2>

	<ul class="nav nav-pills" id="myTab">
		<li class="active"><a href="#go-to" data-toggle="pill">Step 1</a></li>
		<li><a href="#sign-in" data-toggle="pill">Step 2</a></li>
	</ul>
		

  		<div class="go-to">
  		
  		<div class="tab-content">	
			</div><div class="tab-content">
			<div class="tab-pane active" id="go-to">
			  
			  <div class="row">
		  			<div class="span8">
		  				<img src="/img/how-it-works/sign-in-button.png" class="white-well" />
		  			</div>
		  			<div class="span4">
		  			<br />
			  			<h3>Getting there</h3>
			  			<p>Go to <b>counselorexams.com</b> and select the 'Sign-in' link at top right of the screen. This will take you to the sign in page.</p>
			  		</div>
		  		</div>
		  		
		  </div>

		  <div class="tab-pane" id="sign-in">
		  
			  	<div class="row">
		  			<div class="span8">
		  				<img src="/img/how-it-works/sign-in-cred.png" class="white-well" />
		  			</div>
		  			<div class="span4">
		  			<br />
			  			<h3>Signing in</h3>
			  			<p>Enter your account email address and password. Then select the 'Sign in' button and you will be taken to your Profile page where you will find access to your study program.</p>
			  		</div>
		  		</div>
			  
		  </div>
		</div>
	</div>
<br />


 
<script>
  $(function () {
    $('#myTab a:first').tab('show');
  })
</script>

