<%= erb :'how-it-works/nav', layout: false %>


<h2>NCMHCE Study Supplement</h2>

<p>The Study Supplement is best used in conjunction with the Arthur Scenario Simulator, which is an online, interactive resource of different practice scenarios similar to those that make up the NCMHCE exam. The scenarios are designed to help the practicing counselor diagnose and treat individuals with mental health disorders.</p>

<p>While the DSM-5 contains some 300+ diagnoses, the information in this manual has at least one, and sometimes two or more, disorders contained in 20 classifications. Some disorders are repeated, yet the scenarios are presented with different sets of circumstances.</p>

<p>The NCMHCE Study Supplement is available for online study and as an eBook PDF for download, both come with your account. The supplement is also available in hard copy purchased separately.</p>




<!-- <p>The online scenarios are designed according to a Practice Format similar to the design utilized by the National Board for Certified Counselors (NBCC) for the National Clinical Mental Health Counseling examination. These scenarios follow the standard protocol used to identify a mental health disorder for a simulated client case. Many of the scenarios will provide adequate data to make a diagnosis; however, several will provide data that point to dual or multiple diagnoses.</p>

<p>The design of this procedure is to replicate what actually takes place in clinical practice. That is, the counselor has to acquire diagnostic information in a building block fashion to make a correct provisional diagnosis, request additional testing, make referrals, and proceed with treatment.</p>

<p>This Study Supplement is best used in conjunction with the Arthur-Brende Scenario Simulator, which is an online, interactive resource of different practice scenarios similar to those that make up the NCMHCE exam. The scenarios are designed to help the practicing counselor diagnose and treat individuals with mental health disorders.</p>

<p>While the DSM-5 contains some 300+ diagnoses, the information in this manual has at least one, and sometimes two or more, disorders contained in 20 classifications. Some disorders are repeated, yet the scenarios are presented with different sets of circumstances.</p>

<p>The NCMHCE Study Supplement is available as an eBook for use on iPad, iPhone, Android, Kindle, Nook, and any device with a PDF reader, all as downloads with your account. The supplement is also available in hard copy.</p> -->