<%= erb :'how-it-works/nav', layout: false %>

<h2>NCE Study Guide</h2>

<div class="row">
<div class="span7">

<p>Dr. Arthur's NCE Study Guide contains eight chapters that correspond to the eight areas the NCE test covers: Professional Counseling Orientation & Ethical Practice, Social & Cultural Diversity, Human Growth & Development, Career Development, Counseling and Helping Relationships, Group Counseling and Group Work, Assessment and Testing, and Research & Program Evaluation. There are over 300 questions throughout these chapters with the correct answers being explained in detail.</p>

<p>The NCE Study Guide is available for online study and eBook PDF for download. Both come with your account. The study guide is also available in hard copy purchased separately. If you purchase the hard copy version, you are free to download the eBook version as well. Links for online study and downloading the eBook PDF are in the downloads section of your profile page.</p>

<!-- <p>The nbcc has your state board's information at <a href="http://nbcc.org/directory">nbcc.org</a>.</p> -->

</div>
</div>